backend/node-red/flows-3.json
[
    {
        "id": "f78e85ea68abe472",
        "type": "tab",
        "label": "ONEOPS Node-RED Backend (all-in-one)"
    },
    {
        "id": "ab3598055def29b3",
        "type": "inject",
        "z": "f78e85ea68abe472",
        "name": "startup",
        "props": [],
        "repeat": "",
        "once": true,
        "onceDelay": "0.2",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "f6862669b309e445"
            ]
        ]
    },
    {
        "id": "f6862669b309e445",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "init pool + engine + guard",
        "func": "\n// 'mysql' is injected by functionExternalModules (declared in this node's libs).\n// Records are written in DB_TZ (default ICT, +07:00): mysql2 converts JS Date in\n// this tz and each connection's session time_zone is pinned so NOW() is Bangkok.\nconst __DBTZ = env.get('DB_TZ') || '+07:00';\nlet currentPool = global.get('pool');\nif (!currentPool || typeof currentPool.query !== 'function') {\n  currentPool = mysql.createPool({\n    host: env.get('DB_HOST') || 'mysql.data.svc.cluster.local',\n    port: Number(env.get('DB_PORT') || 3306),\n    user: env.get('DB_USER') || 'admin',\n    password: env.get('DB_PASSWORD') || 'iothub.2026',\n    database: env.get('DB_NAME') || 'iothub',\n    namedPlaceholders: true, connectionLimit: 10, timezone: __DBTZ,\n  });\n  // mysql2/promise createPool() returns a PromisePool whose EventEmitter is the\n  // underlying core pool (.pool); binding .on() on the wrapper throws, so guard it.\n  try { (currentPool.pool || currentPool).on('connection', (c) => { c.query(\"SET time_zone = '\" + __DBTZ + \"'\"); }); }\n  catch (e) { node.warn('tz hook skipped: ' + e.message); }\n  global.set('pool', currentPool);\n}\nfunction breaches(v,l,d){return d==='high'?v>=l:v<=l;}\nfunction cleared(v,l,d,h){return d==='high'?v<l-h:v>l+h;}\nfunction evaluate(nodeId, rule, readings, debounceJson){\n  const out=[];\n  // debounce_json overrides per-param dwell if present (§8 production debounce)\n  const db = debounceJson || {};\n  for(const p of rule.params){\n    let active=null, run=0, prev=null;\n    const paramDb = db[p.key] || {};\n    const dwellMin = paramDb.dwell_min ?? rule.dwellMin ?? 3;\n    const cooldownS = paramDb.cooldown_s ?? 0;\n    for(const r of readings){\n      const v=r.values[p.key]; if(v===undefined||Number.isNaN(v))continue;\n      if(p.rate&&prev!==null){const d=p.direction==='high'?v-prev:prev-v; if(d>=p.rate.warn)out.push(mk(nodeId,p,'WARNING','rate',v,p.rate.warn,r));}\n      prev=v;\n      const lvl=breaches(v,p.critical,p.direction)?'CRITICAL':breaches(v,p.warn,p.direction)?'WARNING':null;\n      if(lvl){run++; if(run>=dwellMin&&lvl!==active){ if(active===null||(active==='WARNING'&&lvl==='CRITICAL')){out.push(mk(nodeId,p,lvl,'threshold',v,lvl==='CRITICAL'?p.critical:p.warn,r));} active=lvl; } }\n      else if(active&&cleared(v,p.warn,p.direction,rule.hysteresis)){active=null;run=0;}\n      else if(!lvl){run=0;}\n    }\n  }\n  return out.sort((a,b)=>b.ts-a.ts);\n}\nfunction mk(nodeId,p,sev,kind,value,thr,r){return {id:'ev-'+nodeId+'-'+p.key+'-'+r.ts+'-'+kind,nodeId:nodeId,paramKey:p.key,paramLabel:p.label,severity:sev,kind:kind,value:+value.toFixed(2),threshold:thr,unit:p.unit,time:r.time,ts:r.ts};}\nglobal.set('evaluate', evaluate);\n// Effective product access for a user (department grant capped by user override).\nglobal.set('accessFor', async function(userId){\n  const pool=global.get('pool'); const RANK={none:0,view:1,manage:2}; const levels={};\n  const [u]=await pool.query(\"SELECT org_id,role,department_id FROM users WHERE id=?\",[userId]);\n  const role=u.length?u[0].role:'viewer'; const departmentId=u.length?u[0].department_id:null;\n  if(role==='admin'||role==='superadmin'){['transformer','carbonNode','bloodBox'].forEach(d=>levels[d]='manage');}\n  else{\n    const [dr]=await pool.query(\"SELECT domain,level FROM product_access WHERE scope='department' AND scope_id=?\",[departmentId||'']);\n    dr.forEach(r=>levels[r.domain]=r.level);\n    const [ur]=await pool.query(\"SELECT domain,level FROM product_access WHERE scope='user' AND scope_id=?\",[userId]);\n    ur.forEach(r=>{const cur=levels[r.domain]||'none'; if(RANK[r.level]<RANK[cur]) levels[r.domain]=r.level;});\n  }\n  return {orgId:u.length?u[0].org_id:'',role,departmentId,levels};\n});\n// 'jwt' is injected. Async guard: JWT + role + org-scope + device (node) access.\nglobal.set('guard', async function(authHeader, policy, req){\n  if(policy==='public') return {ok:true,auth:null};\n  let claims;\n  try{ const tok=(authHeader||'').replace(/^Bearer /,''); if(!tok) return {ok:false,code:401,error:'authentication required'};\n       claims=jwt.verify(tok, env.get('JWT_SECRET')||'dev-secret-change-me'); }\n  catch(e){ return {ok:false,code:401,error:'invalid token'}; }\n  if(policy==='super' && claims.role!=='superadmin') return {ok:false,code:403,error:'superadmin only'};\n  if(policy==='admin' && claims.role!=='admin' && claims.role!=='superadmin') return {ok:false,code:403,error:'admin only'};\n  const oid=(req.params&&req.params.orgId)||(policy==='org'&&req.query&&req.query.orgId);\n  if(claims.role!=='superadmin' && oid && oid!==claims.orgId) return {ok:false,code:403,error:'outside your organization'};\n  if((policy==='node'||policy==='node:manage'||policy==='event:view'||policy==='event:manage') && claims.role!=='superadmin'){\n    const pool=global.get('pool'); const isEvent=policy.indexOf('event:')===0; const needManage=(policy==='node:manage'||policy==='event:manage');\n    let nm;\n    if(isEvent) nm=(await pool.query(\"SELECT n.org_id,n.domain,n.department_id FROM alarm_events e JOIN nodes n ON n.id=e.node_id WHERE e.id=?\",[req.params.id]))[0];\n    else nm=(await pool.query(\"SELECT org_id,domain,department_id FROM nodes WHERE id=?\",[req.params.id]))[0];\n    if(!nm.length) return {ok:false,code:404,error:'not found'};\n    const node=nm[0];\n    if(node.org_id!==claims.orgId) return {ok:false,code:403,error:'no access to this device'};\n    if(claims.role!=='admin'){\n      const acc=await global.get('accessFor')(claims.userId);\n      const lvl=acc.levels[node.domain]||'none';\n      if(lvl==='none') return {ok:false,code:403,error:'no access to this device'};\n      if(needManage && lvl!=='manage') return {ok:false,code:403,error:'manage required'};\n      if(node.department_id && node.department_id!==acc.departmentId) return {ok:false,code:403,error:'no access to this device'};\n    }\n  }\n  return {ok:true, auth:claims};\n});\nnode.warn('ONEOPS Node-RED backend: pool + engine + auth guard ready');\n",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            },
            {
                "var": "jwt",
                "module": "jsonwebtoken"
            }
        ],
        "x": 340,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a34ff9cbd472213c",
        "type": "mqtt in",
        "z": "f78e85ea68abe472",
        "name": "telemetry/#",
        "topic": "telemetry/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f6294e349dc29d5d",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 90,
        "y": 280,
        "wires": [
            [
                "37d9c1c0dcc93ce0",
                "dd014008bc10b6b0"
            ]
        ]
    },
    {
        "id": "dd014008bc10b6b0",
        "type": "debug",
        "z": "f78e85ea68abe472",
        "name": "mqtt RX",
        "active": true,
        "complete": "true",
        "x": 300,
        "y": 260,
        "wires": []
    },
    {
        "id": "e600e6c9c5aba92c",
        "type": "mqtt out",
        "z": "f78e85ea68abe472",
        "name": "downlink",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f6294e349dc29d5d",
        "x": 980,
        "y": 580,
        "wires": []
    },
    {
        "id": "f6690db035cb086d",
        "type": "debug",
        "z": "f78e85ea68abe472",
        "name": "mqtt TX",
        "active": true,
        "complete": "true",
        "x": 960,
        "y": 440,
        "wires": []
    },
    {
        "id": "37d9c1c0dcc93ce0",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "normalize (readings | presence | logs | edge-alarm)",
        "func": "\n// Out1 = readings (→ ingest); Out2 = presence (→ device_presence);\n// Out3 = device logs (→ device_logs: P/diag/log + P/ota/progress);\n// Out4 = edge alarms (→ edge_alarm_log: P/alarm/{sid} with edge:true).\n// Accepts: {nodeId,values,ts} | {device_id,channel,value,ts} (spec §6) |\n//          status {state} & heartbeat {rssi/uptime/heap} | legacy topic tail.\nconst MAP = { oil_temp_c:'oilTemp', ambient_temp_c:'ambientTemp', dga_h2_ppm:'hydrogen',\n  moisture_ppm:'moisture', oil_level_pct:'oilLevel', load_pct:'load', door_state:'door',\n  rh_pct:'rh', batt_pct:'battery', impact_g:'impact', baro_alt_m:'baroAlt' };\nconst p = msg.payload;\nconst topo = (msg.topic||'').split('/');\nconst fromTopic = (n) => topo.length>=n ? topo[topo.length-n] : undefined;\n// --- edge alarm: firmware publishes {edge:true, severity, sid, value, device_id} on P/alarm/{sid}\nif (p && typeof p==='object' && p.edge === true && p.severity && p.sid) {\n  const id = p.device_id || fromTopic(3);\n  if (id) return [null, null, null, { payload: { nodeId:id, paramKey:p.sid, severity:p.severity, value:p.value, channel:p.channel, ts:p.ts||Date.now() } }];\n  return null;\n}\n// --- presence: status (has state) or heartbeat (rssi/uptime/heap), no reading payload\nif (p && typeof p==='object' && !p.nodeId && p.channel===undefined) {\n  if (p.state || p.rssi!==undefined || p.uptime!==undefined || p.heap!==undefined) {\n    const id = p.device_id || fromTopic(2);\n    if (!id) return null;\n    const online = p.state ? (p.state==='online'?1:0) : 1;   // heartbeat ⇒ online\n    return [null, { payload: { nodeId:id, online, rssi:p.rssi, fw:p.fw, batt:p.batt,\n      uptime:p.uptime, heap:p.heap, time_src:p.time_src, transport:p.transport,\n      transit:p.transit, lat:p.lat, lng:p.lng, ts:p.ts||Date.now() } }, null, null];\n  }\n  // diag/log or ota/progress → device_logs (Out3)\n  const isOta = p.pct!==undefined || p.status!==undefined;\n  const id = p.device_id || fromTopic(isOta ? 3 : 3);\n  if (id) return [null, null, { payload: { nodeId:id, kind: isOta?'ota':'diag', level: p.level||p.status||'info', code: p.code||null, payload: p, ts: p.ts||Date.now() } }, null];\n  return null;\n}\n// --- readings (carry per-channel quality, spec §16)\nlet nodeId, raw = {}, rawQ = {}, ts = Date.now();\nif (p && typeof p==='object' && p.nodeId){ nodeId=p.nodeId; raw=p.values||{}; rawQ=p.qual||{}; ts=p.ts||ts; }\nelse if (p && typeof p==='object' && p.device_id && p.channel!==undefined){ nodeId=p.device_id; ts=p.ts||ts; raw={[p.channel]:Number(p.value)}; rawQ={[p.channel]:p.quality||'good'}; }\nelse if (p && typeof p==='object'){ return null; }\nelse { const t=topo; nodeId=t[1]; raw={[t[2]]:Number(msg.payload)}; }\nif(!nodeId) return null;\nconst values = {}, qual = {};\nfor (const k of Object.keys(raw)) { const v = raw[k]; const q = rawQ[k]||'good';\n  if (k==='temp_c'){ values.tempHigh=v; values.tempLow=v; qual.tempHigh=q; qual.tempLow=q; }\n  else { const mk=MAP[k]||k; values[mk]=v; qual[mk]=q; } }\nreturn [{ payload: { nodeId, values, qual, ts } }, null, null, null];\n",
        "outputs": 4,
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "2eecc22570670186",
                "2a932d3d0ae98afd"
            ],
            [
                "286a9fb4d9a23509"
            ],
            [
                "037081c3ab706a29"
            ],
            [
                "2e52779c3f613c4f"
            ]
        ]
    },
    {
        "id": "2eecc22570670186",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "ingest + evaluate + persist",
        "func": "\nconst __H = { 'Access-Control-Allow-Origin': '*' };\nconst __http = !!(msg.req && msg.res);   // only HTTP-origin msgs get a response (out 3)\nconst pool = global.get('pool'); const evaluate = global.get('evaluate');\nconst { nodeId, values, qual, ts } = msg.payload || {};\nif (!pool || !evaluate || !nodeId || !values) { msg.headers = __H; msg.statusCode = 400; msg.payload = { error: 'bad input' }; node.send([msg, null, __http ? msg : null, null]); return null; }\nconst taken = new Date(ts || Date.now());\n(async () => {\n  // --- Offline backlog detection (Store-and-Forward observability) ---\n  // If the device timestamp is >30 s behind server time, this reading came from\n  // the LittleFS offline store.  Log it to offline_sync_log so the dashboard can\n  // show \"device X just uploaded N stale records from <oldest> to <newest>\".\n  const BACKLOG_THRESH_MS = 30000;   // 30 seconds\n  const now = Date.now();\n  const deviceTs = ts || now;\n  const isBacklog = (now - deviceTs) > BACKLOG_THRESH_MS;\n  if (isBacklog) {\n    const batchId = (msg.payload && msg.payload.batch_id) || ('auto-' + nodeId + '-' + now);\n    const count = Object.keys(values).length;\n    await pool.query(\n      \"INSERT INTO offline_sync_log (node_id, batch_id, records_count, oldest_ts, newest_ts, sync_at) VALUES (?,?,?,?,?,NOW(3)) \" +\n      \"ON DUPLICATE KEY UPDATE records_count = records_count + VALUES(records_count), \" +\n      \"oldest_ts = LEAST(oldest_ts, VALUES(oldest_ts)), newest_ts = GREATEST(newest_ts, VALUES(newest_ts))\",\n      [nodeId, batchId, count, taken, taken]\n    );\n  }\n  for (const [k,v] of Object.entries(values)) { if(typeof v==='number') await pool.query('INSERT IGNORE INTO readings (node_id,param_key,value,taken_at,quality) VALUES (?,?,?,?,?)',[nodeId,k,v,taken,(qual&&qual[k])||'good']); }\n  const [rr] = await pool.query('SELECT rule_json FROM alarm_rules WHERE node_id=?',[nodeId]);\n  const [mm] = await pool.query('SELECT org_id, department_id, mqtt_prefix FROM nodes WHERE id=?',[nodeId]);\n  if (!rr.length || !mm.length) { msg.headers=__H; msg.payload={inserted:0,reason:'no rule/node'}; node.send([msg,null,__http?msg:null,null]); return; }\n  const rule = typeof rr[0].rule_json==='string'?JSON.parse(rr[0].rule_json):rr[0].rule_json;\n  // Read debounce_json for per-param dwell/cooldown overrides (§8)\n  let debounceJson = null;\n  try { debounceJson = rr[0].debounce_json ? (typeof rr[0].debounce_json==='string' ? JSON.parse(rr[0].debounce_json) : rr[0].debounce_json) : null; } catch(_){}\n  const [rows] = await pool.query(\"SELECT param_key,value,taken_at FROM readings WHERE node_id=? AND taken_at>(NOW(3)-INTERVAL 360 MINUTE) AND quality IN ('good','sim') ORDER BY taken_at ASC\",[nodeId]);  // a dead sensor (quality=error) must not raise/clear alarms (§16)\n  const byTs=new Map();\n  for(const r of rows){const t=new Date(r.taken_at).getTime(); if(!byTs.has(t))byTs.set(t,{time:new Date(t).toISOString(),ts:t,values:{}}); byTs.get(t).values[r.param_key]=Number(r.value);}\n  const readings=[...byTs.values()].sort((a,b)=>a.ts-b.ts);\n  const events = evaluate(nodeId, rule, readings, debounceJson);\n  const pfx = mm[0].mqtt_prefix;\n  let inserted=0;\n  for (const e of events){\n    const [ex]=await pool.query('SELECT id FROM alarm_events WHERE id=?',[e.id]); if (ex.length) continue;\n    await pool.query('INSERT IGNORE INTO alarm_events (id,node_id,org_id,department_id,param_key,param_label,severity,kind,value,threshold,unit,raised_at) VALUES (?,?,?,?,?,?,?,?,?,?,?,?)',\n      [e.id,nodeId,mm[0].org_id,mm[0].department_id,e.paramKey,e.paramLabel,e.severity,e.kind,e.value,e.threshold,e.unit,new Date(e.ts)]);\n    inserted++;\n    // §9: retained per-device alarm state echo so late subscribers/actuators read current severity\n    const echo = pfx ? { topic: pfx+'/alarm/'+e.paramKey, payload: { sid:e.paramKey, severity:e.severity, value:e.value, thr:e.threshold, state:e.severity, ts:e.ts }, qos:1, retain:true } : null;\n    node.send([null, { payload: Object.assign({}, e, { orgId: mm[0].org_id, departmentId: mm[0].department_id }) }, null, echo]);\n  }\n  msg.headers = __H; msg.payload = { inserted, backlog: isBacklog }; node.send([msg, null, __http?msg:null, null]);\n})().catch(err => { node.error(err.message, msg); });\nreturn null;\n",
        "outputs": 4,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 620,
        "y": 300,
        "wires": [
            [
                "e70d02c84cf5149d"
            ],
            [
                "56199eec195be3d1",
                "2a932d3d0ae98afd"
            ],
            [
                "ce62d5685834964a"
            ],
            [
                "e600e6c9c5aba92c",
                "f6690db035cb086d"
            ]
        ]
    },
    {
        "id": "56199eec195be3d1",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "notify (Email/LINE/Telegram/GChat · per-tenant)",
        "func": "\nconst pool = global.get('pool');\nconst e = msg.payload;\nif (!e) return null;\nconst __TZ=env.get('DISPLAY_TZ')||'Asia/Bangkok'; let when=e.time; try{ when=new Date(e.time).toLocaleString('en-GB',{timeZone:__TZ,hour12:false})+' ('+__TZ+')'; }catch(_){}\nconst text = '['+e.severity+'] '+e.paramLabel+' = '+e.value+e.unit+' (limit '+e.threshold+') on '+e.nodeId+' — '+(e.kind||'')+' @ '+when;\nconst subject = 'ONEOPS '+e.severity+': '+e.paramLabel;\n(async () => {\n  try {\n    // Per-tenant channels (org + dept) from DB — same routing as the Express service.\n    let channels = [];\n    if (pool && e.orgId) {\n      const [rows] = await pool.query(\"SELECT channel,target,min_severity FROM notification_channels WHERE org_id=? AND enabled=1 AND (department_id IS NULL OR department_id=?)\", [e.orgId, e.departmentId || null]);\n      channels = rows;\n    }\n    // Fallback: env-based single destination when no DB channels are configured.\n    if (!channels.length) {\n      if (env.get('LINE_NOTIFY_TOKEN')) channels.push({ channel:'line', target:'' });\n      if (env.get('TELEGRAM_BOT_TOKEN')) channels.push({ channel:'telegram', target:'' });\n      if (env.get('GOOGLE_CHAT_WEBHOOK')) channels.push({ channel:'googlechat', target:'' });\n    }\n    for (const c of channels) {\n      if (c.min_severity === 'CRITICAL' && e.severity !== 'CRITICAL') continue;   // severity filter\n      try {\n        if (c.channel === 'email') {\n          if (!env.get('SMTP_HOST') || !c.target) { node.warn('notify:email skipped — SMTP_HOST/target missing'); continue; }\n          let tx = global.get('mailer');\n          if (!tx) { tx = nodemailer.createTransport({ host: env.get('SMTP_HOST'), port: Number(env.get('SMTP_PORT')||587), auth: env.get('SMTP_USER') ? { user: env.get('SMTP_USER'), pass: env.get('SMTP_PASS') } : undefined }); global.set('mailer', tx); }\n          await tx.sendMail({ from: env.get('MAIL_FROM')||'alerts@oneops.local', to: c.target, subject, text });\n        } else if (c.channel === 'line') {\n          const t = c.target || env.get('LINE_NOTIFY_TOKEN');\n          if (t) await fetch('https://notify-api.line.me/api/notify',{method:'POST',headers:{Authorization:'Bearer '+t,'Content-Type':'application/x-www-form-urlencoded'},body:new URLSearchParams({message:' '+text})});\n        } else if (c.channel === 'telegram') {\n          const tg = env.get('TELEGRAM_BOT_TOKEN'); const chat = c.target || env.get('TELEGRAM_CHAT_ID');\n          if (tg && chat) await fetch('https://api.telegram.org/bot'+tg+'/sendMessage',{method:'POST',headers:{'content-type':'application/json'},body:JSON.stringify({chat_id:chat,text})});\n        } else if (c.channel === 'googlechat') {\n          const url = c.target || env.get('GOOGLE_CHAT_WEBHOOK');\n          if (url) await fetch(url,{method:'POST',headers:{'content-type':'application/json'},body:JSON.stringify({text})});\n        }\n      } catch(err){ node.error('notify:'+c.channel+' '+err.message); }\n    }\n  } catch(err){ node.error('notify: '+err.message); }\n})();\nreturn null;\n",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            },
            {
                "var": "nodemailer",
                "module": "nodemailer"
            }
        ],
        "x": 1100,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2a932d3d0ae98afd",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "ws broadcast",
        "func": "\nconst p = msg.payload || {};\nlet out;\nif (p.values) {\n  const v = p.values;\n  let temp = v.tempHigh; if (temp===undefined) temp = v.tempLow; if (temp===undefined) temp = v.oilTemp;\n  if (temp===undefined) { const n = Object.values(v).find(x => typeof x==='number'); temp = (n===undefined?null:n); }\n  out = { id: p.nodeId, mac: '', temperature: temp===null?null:Number(temp), doorOpen: (v.door||0)>0, values: v, timestamp: new Date(p.ts||Date.now()).toISOString() };\n} else if (p.severity) {\n  out = { type:'alarm', id: p.nodeId, paramKey: p.paramKey, severity: p.severity, value: p.value, timestamp: p.time || new Date().toISOString() };\n} else { return null; }\nmsg.payload = out;\nreturn msg;\n",
        "outputs": 1,
        "libs": [],
        "x": 900,
        "y": 120,
        "wires": [
            [
                "5b888c5f3253a7a4"
            ]
        ]
    },
    {
        "id": "5b888c5f3253a7a4",
        "type": "websocket out",
        "z": "f78e85ea68abe472",
        "name": "telemetry ws",
        "server": "wslistener",
        "client": "",
        "x": 970,
        "y": 60,
        "wires": []
    },
    {
        "id": "e70d02c84cf5149d",
        "type": "debug",
        "z": "f78e85ea68abe472",
        "name": "ingest",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 40,
        "wires": []
    },
    {
        "id": "286a9fb4d9a23509",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "presence upsert",
        "func": "\nconst pool = global.get('pool'); const e = msg.payload;\nif (!pool || !e || !e.nodeId) return null;\n(async () => {\n  // --- Transport-switch detection (§21 observability) ---\n  // Compare current transport with the value stored in device_presence; if they\n  // differ, a failover or recovery happened — log it to transport_events.\n  if (e.transport) {\n    const [prev] = await pool.query(\"SELECT transport FROM device_presence WHERE node_id=?\", [e.nodeId]);\n    const prevTr = prev.length ? prev[0].transport : null;\n    if (prevTr && prevTr !== e.transport) {\n      const reason = (e.rssi !== undefined && e.rssi !== null && e.rssi < -80) ? 'rssi_low' : 'failover';\n      await pool.query(\n        \"INSERT INTO transport_events (node_id, from_transport, to_transport, reason, rssi, ts) VALUES (?,?,?,?,?,NOW(3))\",\n        [e.nodeId, prevTr, e.transport, reason, e.rssi ?? null]\n      );\n      node.warn('transport switch: ' + e.nodeId + ' ' + prevTr + ' → ' + e.transport + ' (' + reason + ')');\n    }\n  }\n  // --- Presence upsert ---\n  await pool.query(\"INSERT INTO device_presence (node_id, online, last_seen, rssi, batt, fw, uptime_s, heap, time_src, transport, transit, lat, lng) VALUES (?,?,NOW(3),?,?,?,?,?,?,?,?,?,?) ON DUPLICATE KEY UPDATE online=VALUES(online), last_seen=VALUES(last_seen), rssi=VALUES(rssi), batt=VALUES(batt), fw=VALUES(fw), uptime_s=VALUES(uptime_s), heap=VALUES(heap), time_src=VALUES(time_src), transport=VALUES(transport), transit=VALUES(transit), lat=VALUES(lat), lng=VALUES(lng)\",\n    [e.nodeId, e.online?1:0, e.rssi ?? null, e.batt ?? null, e.fw ?? null, e.uptime ?? null, e.heap ?? null, e.time_src ?? null, e.transport ?? null, e.transit ?? null, e.lat ?? null, e.lng ?? null]);\n  // offline-recovery: device back online ⇒ clear any open offline alarm\n  if (e.online) await pool.query(\"UPDATE alarm_events SET cleared_at=NOW(3) WHERE node_id=? AND kind='offline' AND cleared_at IS NULL\", [e.nodeId]);\n})().catch(err => node.error('presence: ' + err.message));\nreturn null;\n",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 660,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "037081c3ab706a29",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "device log store",
        "func": "\nconst pool = global.get('pool'); const e = msg.payload;\nif (!pool || !e || !e.nodeId) return null;\n(async () => {\n  await pool.query(\"INSERT INTO device_logs (node_id, kind, level, code, payload, ts) VALUES (?,?,?,?,?,NOW(3))\",\n    [e.nodeId, e.kind||'diag', String(e.level||'info').slice(0,32), e.code? String(e.code).slice(0,40): null, JSON.stringify(e.payload||{})]);\n  // --- OTA progress → ota_deployments (real-time tracking) ---\n  if (e.kind === 'ota' && e.payload) {\n    const p = e.payload;\n    const status = p.status || (typeof p.pct === 'number' ? 'downloading' : null);\n    const pct = typeof p.pct === 'number' ? Math.min(100, Math.max(0, p.pct)) : null;\n    if (status) {\n      const isFinal = ['success','failed','rolled_back'].includes(status);\n      await pool.query(\n        \"UPDATE ota_deployments SET status=?, progress_pct=?, error_msg=?\" +\n        (isFinal ? \", completed_at=NOW(3)\" : \"\") +\n        \" WHERE node_id=? AND status NOT IN ('success','failed','rolled_back') ORDER BY started_at DESC LIMIT 1\",\n        [status, pct ?? (isFinal ? 100 : 0), p.error || null, e.nodeId]\n      );\n    }\n  }\n})().catch(err => node.error('devlog: ' + err.message));\nreturn null;\n",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 640,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2e52779c3f613c4f",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "edge alarm persist",
        "func": "\nconst pool = global.get('pool'); const e = msg.payload;\nif (!pool || !e || !e.nodeId) return null;\n(async () => {\n  const sev = (e.severity === 'CRITICAL' || e.severity === 'WARNING') ? e.severity : 'WARNING';\n  // Find the alarm threshold from the rule for context\n  const [rr] = await pool.query('SELECT rule_json FROM alarm_rules WHERE node_id=?', [e.nodeId]);\n  let threshold = null, dwellCount = null;\n  if (rr.length) {\n    const rule = typeof rr[0].rule_json==='string' ? JSON.parse(rr[0].rule_json) : rr[0].rule_json;\n    const param = (rule.params||[]).find(p => p.key === e.paramKey);\n    if (param) { threshold = sev === 'CRITICAL' ? param.critical : param.warn; dwellCount = rule.dwellMin; }\n  }\n  await pool.query(\n    \"INSERT INTO edge_alarm_log (node_id, param_key, severity, value, threshold, dwell_count, ts) VALUES (?,?,?,?,?,?,NOW(3))\",\n    [e.nodeId, e.paramKey, sev, e.value ?? null, threshold, dwellCount]);\n})().catch(err => node.error('edge-alarm: ' + err.message));\nreturn null;\n",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 610,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "f13960b4ab210e18",
        "type": "catch",
        "z": "f78e85ea68abe472",
        "name": "catch all",
        "scope": null,
        "uncaught": false,
        "x": 990,
        "y": 820,
        "wires": [
            [
                "5cbd3f500b6d59be"
            ]
        ]
    },
    {
        "id": "5cbd3f500b6d59be",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "dead-letter",
        "func": "\nconst pool = global.get('pool');\nconst err = msg.error || {}; const src = (err.source && err.source.id) || 'unknown';\nif (pool) pool.query(\"INSERT INTO dead_letter (source, error, payload) VALUES (?,?,?)\",\n  [String(src).slice(0,120), String(err.message||'').slice(0,500), JSON.stringify(msg.payload||null)]).catch(()=>{});\nnode.warn('dead-letter from ' + src + ': ' + (err.message||''));\nreturn null;\n",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 1210,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "6fdb095f20f1efb0",
        "type": "inject",
        "z": "f78e85ea68abe472",
        "name": "hourly",
        "props": [],
        "repeat": "3600",
        "x": 990,
        "y": 880,
        "wires": [
            [
                "3f7f8b2024e35fe2"
            ]
        ]
    },
    {
        "id": "3f7f8b2024e35fe2",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "readings retention",
        "func": "\nconst pool = global.get('pool'); if (!pool || typeof pool.query !== 'function') return null;\nconst DAYS = Number(env.get('READINGS_RETENTION_DAYS') || 30);\n(async () => {\n  await pool.query(\n    \"INSERT INTO readings_rollup (node_id, param_key, bucket, n, bad_n, v_avg, v_min, v_max) \" +\n    \"SELECT node_id, param_key, DATE_FORMAT(taken_at,'%Y-%m-%d %H:00:00.000') bucket, \" +\n    \"COUNT(*), SUM(CASE WHEN quality NOT IN ('good') THEN 1 ELSE 0 END), \" +\n    \"AVG(value), MIN(value), MAX(value) \" +\n    \"FROM readings WHERE taken_at < (NOW(3) - INTERVAL ? DAY) GROUP BY node_id, param_key, bucket \" +\n    \"ON DUPLICATE KEY UPDATE n=VALUES(n), bad_n=VALUES(bad_n), v_avg=VALUES(v_avg), v_min=VALUES(v_min), v_max=VALUES(v_max)\", [DAYS]);\n  const [res] = await pool.query(\"DELETE FROM readings WHERE taken_at < (NOW(3) - INTERVAL ? DAY)\", [DAYS]);\n  if (res.affectedRows) node.warn('retention: rolled up + purged ' + res.affectedRows + ' raw readings');\n})().catch(e => node.error('retention: ' + e.message));\nreturn null;\n",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 1210,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "252ecfa01edb6c65",
        "type": "inject",
        "z": "f78e85ea68abe472",
        "name": "every 15m",
        "props": [],
        "repeat": "900",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "ca1dccbb54114215"
            ]
        ]
    },
    {
        "id": "ca1dccbb54114215",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "report scheduler",
        "func": "\nconst pool = global.get('pool'); if (!pool || typeof pool.query !== 'function') return null;\n(async () => {\n  const [due] = await pool.query(\"SELECT * FROM report_schedules WHERE enabled=1 AND (next_run_at IS NULL OR next_run_at<=NOW(3))\");\n  for (const s of due) {\n    let nodeIds = [];\n    if (s.scope==='device' && s.scope_id) nodeIds = [s.scope_id];\n    else { const args = (s.scope==='department' && s.scope_id) ? [s.org_id, s.scope_id] : [s.org_id];\n      const [ns] = await pool.query(\"SELECT id FROM nodes WHERE org_id=?\"+((s.scope==='department'&&s.scope_id)?\" AND department_id=?\":\"\"), args); nodeIds = ns.map(n=>n.id); }\n    const days = s.sequence==='weekly'?7 : s.sequence==='monthly'?30 : 1;\n    let csv = 'node_id,param_key,n,avg,min,max\\n';\n    if (nodeIds.length) {\n      const [rows] = await pool.query(\"SELECT node_id,param_key,COUNT(*) n,AVG(value) a,MIN(value) mn,MAX(value) mx FROM readings WHERE node_id IN (?) AND taken_at>(NOW(3)-INTERVAL ? DAY) GROUP BY node_id,param_key ORDER BY node_id,param_key\", [nodeIds, days]);\n      for (const r of rows) csv += r.node_id+','+r.param_key+','+r.n+','+Number(r.a).toFixed(2)+','+Number(r.mn).toFixed(2)+','+Number(r.mx).toFixed(2)+'\\n';\n    }\n    const to = (s.recipients||'').trim();\n    if (to && env.get('SMTP_HOST')) {\n      let tx = global.get('mailer');\n      if (!tx) { tx = nodemailer.createTransport({ host: env.get('SMTP_HOST'), port: Number(env.get('SMTP_PORT')||587), auth: env.get('SMTP_USER')?{user:env.get('SMTP_USER'),pass:env.get('SMTP_PASS')}:undefined }); global.set('mailer', tx); }\n      await tx.sendMail({ from: env.get('MAIL_FROM')||'alerts@oneops.local', to, subject: 'ONEOPS Report: '+s.name, text: 'Automated '+s.sequence+' '+s.scope+' report.', attachments: [{ filename: String(s.name).replace(/\\s+/g,'_')+'.csv', content: csv }] });\n    } else { node.warn('report '+s.name+': email skipped (no SMTP/recipients), '+nodeIds.length+' nodes'); }\n    const iv = s.sequence==='weekly'?'7 DAY' : s.sequence==='monthly'?'1 MONTH' : '1 DAY';\n    await pool.query(\"UPDATE report_schedules SET last_run_at=NOW(3), next_run_at=(NOW(3)+INTERVAL \"+iv+\") WHERE id=?\", [s.id]);\n  }\n})().catch(e => node.error('report-run: ' + e.message));\nreturn null;\n",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            },
            {
                "var": "nodemailer",
                "module": "nodemailer"
            }
        ],
        "x": 350,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "61d5db5d07614099",
        "type": "inject",
        "z": "f78e85ea68abe472",
        "name": "every 60s",
        "props": [],
        "repeat": "60",
        "x": 950,
        "y": 380,
        "wires": [
            [
                "6a1636dc4591e7c4"
            ]
        ]
    },
    {
        "id": "6a1636dc4591e7c4",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "escalation scan",
        "func": "\nconst pool = global.get('pool'); if(!pool || typeof pool.query !== 'function') return null;\n(async()=>{\n  const [rows]=await pool.query(\"SELECT * FROM alarm_events WHERE severity='CRITICAL' AND acknowledged_at IS NULL AND cleared_at IS NULL AND escalated=0 AND raised_at<(NOW(3)-INTERVAL 15 MINUTE)\");\n  for(const r of rows){ node.send({ payload: { nodeId:r.node_id, orgId:r.org_id, departmentId:r.department_id, paramLabel:'ESCALATION · '+r.param_label, kind:r.kind, value:Number(r.value), unit:r.unit, threshold:Number(r.threshold), severity:'CRITICAL', time:new Date(r.raised_at).toISOString() } }); }\n  if(rows.length){ await pool.query('UPDATE alarm_events SET escalated=1 WHERE id IN (?)',[rows.map(r=>r.id)]); }\n})().catch(e=>node.error(e.message));\nreturn null;\n",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 1040,
        "y": 300,
        "wires": [
            [
                "56199eec195be3d1"
            ]
        ]
    },
    {
        "id": "ca150c735775f8bf",
        "type": "inject",
        "z": "f78e85ea68abe472",
        "name": "every 60s",
        "props": [],
        "repeat": "60",
        "x": 1050,
        "y": 180,
        "wires": [
            [
                "ecefedb805dd62a8"
            ]
        ]
    },
    {
        "id": "ecefedb805dd62a8",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "offline sweep",
        "func": "\nconst pool = global.get('pool'); if (!pool || typeof pool.query !== 'function') return null;\nconst AFTER = Number(env.get('OFFLINE_AFTER_S') || 90);\n(async () => {\n  const [rows] = await pool.query(\n    \"SELECT p.node_id, n.org_id, n.department_id FROM device_presence p JOIN nodes n ON n.id = p.node_id WHERE p.online = 1 AND p.last_seen < (NOW(3) - INTERVAL ? SECOND)\",\n    [AFTER]);\n  for (const r of rows) {\n    await pool.query(\"UPDATE device_presence SET online = 0 WHERE node_id = ?\", [r.node_id]);\n    const id = 'ev-offline-' + r.node_id + '-' + Date.now();\n    await pool.query(\"INSERT IGNORE INTO alarm_events (id,node_id,org_id,department_id,param_key,param_label,severity,kind,value,threshold,unit,raised_at) VALUES (?,?,?,?,?,?,?,?,?,?,?,NOW(3))\",\n      [id, r.node_id, r.org_id, r.department_id, 'online', 'Device Offline', 'CRITICAL', 'offline', 0, 0, '']);\n    node.send({ payload: { id, nodeId:r.node_id, orgId:r.org_id, departmentId:r.department_id, paramLabel:'Device Offline', kind:'offline', value:0, unit:'', threshold:0, severity:'CRITICAL', time:new Date().toISOString() } });\n  }\n})().catch(e => node.error('offline-sweep: ' + e.message));\nreturn null;\n",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 1210,
        "y": 180,
        "wires": [
            [
                "56199eec195be3d1"
            ]
        ]
    },
    {
        "id": "908f64825e006efe",
        "type": "inject",
        "z": "f78e85ea68abe472",
        "name": "every 60s",
        "props": [],
        "repeat": "60",
        "x": 990,
        "y": 680,
        "wires": [
            [
                "9b1562e8290a7dfc"
            ]
        ]
    },
    {
        "id": "9b1562e8290a7dfc",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "auto-clear sweep",
        "func": "\nconst pool = global.get('pool'); if (!pool || typeof pool.query !== 'function') return null;\nconst CLEAR_MIN = Number(env.get('CLEAR_AFTER_MIN') || 5);\n(async () => {\n  const [evs] = await pool.query(\"SELECT e.id, e.node_id, e.param_key, n.mqtt_prefix FROM alarm_events e JOIN nodes n ON n.id=e.node_id WHERE e.cleared_at IS NULL AND e.kind IN ('threshold','rate')\");\n  for (const ev of evs) {\n    const [rr] = await pool.query(\"SELECT rule_json FROM alarm_rules WHERE node_id=?\", [ev.node_id]);\n    if (!rr.length) continue;\n    const rule = typeof rr[0].rule_json==='string' ? JSON.parse(rr[0].rule_json) : rr[0].rule_json;\n    const param = (rule.params||[]).find(p => p.key===ev.param_key);\n    if (!param) continue;\n    const hys = rule.hysteresis || 0;\n    const [rows] = await pool.query(\"SELECT value FROM readings WHERE node_id=? AND param_key=? AND taken_at > (NOW(3) - INTERVAL ? MINUTE)\", [ev.node_id, ev.param_key, CLEAR_MIN]);\n    if (!rows.length) continue;   // no fresh data ⇒ don't clear yet\n    const stillBreaching = rows.some(r => { const v = Number(r.value); return param.direction==='high' ? v >= (param.warn - hys) : v <= (param.warn + hys); });\n    if (!stillBreaching) {\n      await pool.query(\"UPDATE alarm_events SET cleared_at=NOW(3) WHERE id=?\", [ev.id]);\n      // §9: clear the retained alarm topic so subscribers see NORMAL\n      if (ev.mqtt_prefix) node.send({ topic: ev.mqtt_prefix+'/alarm/'+ev.param_key, payload: { sid:ev.param_key, state:'NORMAL', ts:Date.now() }, qos:1, retain:true });\n    }\n  }\n})().catch(e => node.error('clear-sweep: ' + e.message));\nreturn null;\n",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 1210,
        "y": 680,
        "wires": [
            [
                "e600e6c9c5aba92c",
                "f6690db035cb086d"
            ]
        ]
    },
    {
        "id": "982e58d0cb0b0ebd",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/health",
        "method": "get",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "21fc319ab910540c"
            ]
        ]
    },
    {
        "id": "21fc319ab910540c",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/health",
        "func": "const __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool');\n(async()=>{ let db=false; try{const c=await pool.getConnection(); await c.ping(); c.release(); db=true;}catch(e){} msg.headers=__CORS; msg.statusCode=200; msg.payload={ok:true,db,ts:Date.now()}; node.send(msg);})(); return null;",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 420,
        "wires": [
            [
                "3104792cf48590e0"
            ]
        ]
    },
    {
        "id": "3104792cf48590e0",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 420,
        "wires": []
    },
    {
        "id": "bbcbead7000d2be6",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/auth/login",
        "method": "post",
        "x": 150,
        "y": 470,
        "wires": [
            [
                "9866b8626c377f50"
            ]
        ]
    },
    {
        "id": "9866b8626c377f50",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "POST /api/auth/login",
        "func": "const __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const b=msg.payload||{};\nconst ip=((msg.req.headers['x-forwarded-for']||'').split(',')[0].trim())||(msg.req.ip)||'unknown';\nconst rl=global.get('loginRL')||{}; const max=Number(env.get('LOGIN_MAX_ATTEMPTS')||10); const win=Number(env.get('LOGIN_WINDOW_MIN')||15)*60000; const now=Date.now(); const rec=rl[ip];\nif(rec && now<rec.resetAt && rec.n>=max){msg.headers=__CORS;msg.statusCode=429;msg.payload={error:'too many login attempts — try again later'};return msg;}\n(async()=>{const[u]=await pool.query(\"SELECT id,org_id,role,name,email,password_hash FROM users WHERE email=?\",[b.email||'']);\n  if(!u.length||!u[0].password_hash||!(await bcrypt.compare(b.password||'', u[0].password_hash))){rl[ip]=(!rec||now>rec.resetAt)?{n:1,resetAt:now+win}:{n:rec.n+1,resetAt:rec.resetAt}; global.set('loginRL',rl); msg.headers=__CORS;msg.statusCode=401;msg.payload={error:'invalid credentials'};node.send(msg);return;}\n  delete rl[ip]; global.set('loginRL',rl);\n  const claims={userId:u[0].id,orgId:u[0].org_id||'',role:u[0].role||'viewer'};\n  const token=jwt.sign(claims, env.get('JWT_SECRET')||'dev-secret-change-me', {expiresIn: env.get('JWT_TTL')||'12h'});\n  msg.headers=__CORS; msg.payload={token, user:{id:claims.userId,orgId:claims.orgId,role:claims.role,name:u[0].name,email:u[0].email}}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            },
            {
                "var": "jwt",
                "module": "jsonwebtoken"
            },
            {
                "var": "bcrypt",
                "module": "bcryptjs"
            }
        ],
        "x": 420,
        "y": 470,
        "wires": [
            [
                "0dd20fd353db1cb0"
            ]
        ]
    },
    {
        "id": "0dd20fd353db1cb0",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 470,
        "wires": []
    },
    {
        "id": "5fbc35d4cdc0a04e",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/nodes/:id/rule",
        "method": "get",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "346c6117bf7e7e4b"
            ]
        ]
    },
    {
        "id": "346c6117bf7e7e4b",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/nodes/:id/rule",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','node',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id;\n(async()=>{const[r]=await pool.query('SELECT rule_json FROM alarm_rules WHERE node_id=?',[id]); msg.headers=__CORS; msg.statusCode=r.length?200:404; msg.payload=r.length?(typeof r[0].rule_json==='string'?JSON.parse(r[0].rule_json):r[0].rule_json):{error:'no rule'}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 520,
        "wires": [
            [
                "646731dff2dca4b2"
            ]
        ]
    },
    {
        "id": "646731dff2dca4b2",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "8c0cc764a415bc82",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/nodes/:id/rule",
        "method": "put",
        "x": 150,
        "y": 570,
        "wires": [
            [
                "d4c0ac5e921892b7"
            ]
        ]
    },
    {
        "id": "d4c0ac5e921892b7",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "PUT /api/nodes/:id/rule",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','node:manage',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id; const {orgId,rule,updatedBy}=msg.payload||{};\nif(!orgId||!rule){msg.headers=__CORS;msg.statusCode=400;msg.payload={error:'orgId and rule required'};return msg;}\n(async()=>{await pool.query('INSERT INTO alarm_rules (node_id,org_id,domain,rule_json,updated_by) VALUES (?,?,?,?,?) ON DUPLICATE KEY UPDATE rule_json=VALUES(rule_json),domain=VALUES(domain),updated_by=VALUES(updated_by)',[id,orgId,rule.domain,JSON.stringify(rule),updatedBy||null]); msg.headers=__CORS; msg.payload={ok:true}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 570,
        "wires": [
            [
                "b66d3b4088e802a3"
            ]
        ]
    },
    {
        "id": "b66d3b4088e802a3",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 570,
        "wires": []
    },
    {
        "id": "58011ed40b0c3895",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/orgs/:orgId/rule",
        "method": "put",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "af6ac72eabc46c03"
            ]
        ]
    },
    {
        "id": "af6ac72eabc46c03",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "PUT /api/orgs/:orgId/rule",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','admin',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const orgId=msg.req.params.orgId; const {rule,updatedBy}=msg.payload||{};\nif(!rule||!rule.domain){msg.headers=__CORS;msg.statusCode=400;msg.payload={error:'rule.domain required'};return msg;}\n(async()=>{const[n]=await pool.query('SELECT id FROM nodes WHERE org_id=? AND domain=?',[orgId,rule.domain]);\n  for(const row of n){ await pool.query('INSERT INTO alarm_rules (node_id,org_id,domain,rule_json,updated_by) VALUES (?,?,?,?,?) ON DUPLICATE KEY UPDATE rule_json=VALUES(rule_json),updated_by=VALUES(updated_by)',[row.id,orgId,rule.domain,JSON.stringify(rule),updatedBy||null]); }\n  msg.headers=__CORS; msg.payload={ok:true,applied:n.length}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 620,
        "wires": [
            [
                "8aa0bba2fd2c65cc"
            ]
        ]
    },
    {
        "id": "8aa0bba2fd2c65cc",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 620,
        "wires": []
    },
    {
        "id": "acee4aee322ca5ad",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/nodes/:id/events",
        "method": "get",
        "x": 150,
        "y": 670,
        "wires": [
            [
                "4d54fc5df9e7d055"
            ]
        ]
    },
    {
        "id": "4d54fc5df9e7d055",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/nodes/:id/events",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','node',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id;\n(async()=>{const[r]=await pool.query('SELECT * FROM alarm_events WHERE node_id=? ORDER BY raised_at DESC LIMIT 50',[id]); msg.headers=__CORS; msg.payload=r; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 670,
        "wires": [
            [
                "57e7a0c94e6d4cec"
            ]
        ]
    },
    {
        "id": "57e7a0c94e6d4cec",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 670,
        "wires": []
    },
    {
        "id": "187b0a0b838430f3",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/events/:id/ack",
        "method": "post",
        "x": 150,
        "y": 720,
        "wires": [
            [
                "70d036c5a5010763"
            ]
        ]
    },
    {
        "id": "70d036c5a5010763",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "POST /api/events/:id/ack",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','event:view',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id; const {by,eventProblemId}=msg.payload||{};\n(async()=>{await pool.query('UPDATE alarm_events SET acknowledged_at=NOW(3),acknowledged_by=?,event_problem_id=? WHERE id=?',[by||'user',eventProblemId||null,id]); msg.headers=__CORS; msg.payload={ok:true}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 720,
        "wires": [
            [
                "75a07989172b4fb5"
            ]
        ]
    },
    {
        "id": "75a07989172b4fb5",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 720,
        "wires": []
    },
    {
        "id": "50f384cef188d3b1",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/nodes/:id/readings",
        "method": "get",
        "x": 150,
        "y": 770,
        "wires": [
            [
                "c591224bd9f6d6b5"
            ]
        ]
    },
    {
        "id": "c591224bd9f6d6b5",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/nodes/:id/readings",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','node',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id; const since=Number((msg.req.query&&msg.req.query.sinceMin)||360);\n(async()=>{const[r]=await pool.query('SELECT param_key,value,taken_at FROM readings WHERE node_id=? AND taken_at>(NOW(3)-INTERVAL ? MINUTE) ORDER BY taken_at ASC',[id,since]); msg.headers=__CORS; msg.payload=r; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 770,
        "wires": [
            [
                "12c46ff99bbc1cfe"
            ]
        ]
    },
    {
        "id": "12c46ff99bbc1cfe",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 770,
        "wires": []
    },
    {
        "id": "03e540b4a3bafba5",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/nodes/:id/documents",
        "method": "get",
        "x": 150,
        "y": 820,
        "wires": [
            [
                "335c52afcdd4538d"
            ]
        ]
    },
    {
        "id": "335c52afcdd4538d",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/nodes/:id/documents",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','node',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id; const dept=(msg.req.query&&msg.req.query.departmentId)||'';\n(async()=>{const[r]=await pool.query('SELECT id,name,size,uploaded_by,created_at FROM documents WHERE node_id=? AND department_id=? ORDER BY created_at DESC',[id,dept]); msg.headers=__CORS; msg.payload=r; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 820,
        "wires": [
            [
                "983d58e7ef9fa13b"
            ]
        ]
    },
    {
        "id": "983d58e7ef9fa13b",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 820,
        "wires": []
    },
    {
        "id": "280ea588e26264a9",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/nodes/:id/documents",
        "method": "post",
        "x": 150,
        "y": 870,
        "wires": [
            [
                "24ff99fedf7e9a9c"
            ]
        ]
    },
    {
        "id": "24ff99fedf7e9a9c",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "POST /api/nodes/:id/documents",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','node:manage',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id; const {departmentId,name,size,uploadedBy,dataBase64}=msg.payload||{};\nif(!departmentId||!name){msg.headers=__CORS;msg.statusCode=400;msg.payload={error:'departmentId and name required'};return msg;}\n(async()=>{const docId='doc-'+Date.now(); await pool.query('INSERT INTO documents (id,node_id,department_id,name,size,uploaded_by,data) VALUES (?,?,?,?,?,?,?)',[docId,id,departmentId,name,size||null,uploadedBy||null,dataBase64?Buffer.from(dataBase64,'base64'):null]); msg.headers=__CORS; msg.payload={ok:true,id:docId}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 870,
        "wires": [
            [
                "c228f35da9f629f4"
            ]
        ]
    },
    {
        "id": "c228f35da9f629f4",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 870,
        "wires": []
    },
    {
        "id": "ae88b31fc2de6b9c",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/bloodbox/transits/:id/journey",
        "method": "get",
        "x": 150,
        "y": 920,
        "wires": [
            [
                "b1910a929f0e6471"
            ]
        ]
    },
    {
        "id": "b1910a929f0e6471",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/bloodbox/transits/:id/journey",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','auth',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const tid=msg.req.params.id;\n(async()=>{const[r]=await pool.query('SELECT * FROM blood_box_journey_events WHERE transit_id=? ORDER BY ts ASC',[tid]); msg.headers=__CORS; msg.payload=r; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 920,
        "wires": [
            [
                "111764bf1f64d7d3"
            ]
        ]
    },
    {
        "id": "111764bf1f64d7d3",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 920,
        "wires": []
    },
    {
        "id": "55259460b1ed959b",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/bloodbox/transits/:id/journey",
        "method": "post",
        "x": 150,
        "y": 970,
        "wires": [
            [
                "67d71e387a38fb6d"
            ]
        ]
    },
    {
        "id": "67d71e387a38fb6d",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "POST /api/bloodbox/transits/:id/journey",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','auth',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const tid=msg.req.params.id; const b=msg.payload||{};\nif(!b.eventType||!b.signal){msg.headers=__CORS;msg.statusCode=400;msg.payload={error:'eventType and signal required'};node.send([msg,null]);return null;}\n(async()=>{const id='je-'+Date.now(); await pool.query('INSERT INTO blood_box_journey_events (id,transit_id,floor_id,event_type,label,signal,lat,lng,pos_x_m,pos_y_m,temp_c,battery_pct) VALUES (?,?,?,?,?,?,?,?,?,?,?,?)',[id,tid,b.floorId||null,b.eventType,b.label||null,b.signal,b.lat||null,b.lng||null,b.posX||null,b.posY||null,b.tempC||null,b.batteryPct||null]);\n  let bridge=null;\n  if(typeof b.tempC==='number'){const[tr]=await pool.query('SELECT box_id FROM blood_box_transits WHERE id=?',[tid]); if(tr.length&&tr[0].box_id){const v={tempHigh:b.tempC,tempLow:b.tempC}; if(typeof b.batteryPct==='number')v.battery=b.batteryPct; bridge={payload:{nodeId:tr[0].box_id,values:v,ts:Date.now()}};}}\n  msg.headers=__CORS; msg.payload={ok:true,id}; node.send([msg,bridge]);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send([msg,null]);}); return null;\n})();",
        "outputs": 2,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 970,
        "wires": [
            [
                "e0122c6bbc4ffd70"
            ],
            [
                "2eecc22570670186"
            ]
        ]
    },
    {
        "id": "e0122c6bbc4ffd70",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 970,
        "wires": []
    },
    {
        "id": "5805c3ca962630ee",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/bloodbox/transits/:id/temp",
        "method": "post",
        "x": 150,
        "y": 1020,
        "wires": [
            [
                "ef4fb99263bc2516"
            ]
        ]
    },
    {
        "id": "ef4fb99263bc2516",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "POST /api/bloodbox/transits/:id/temp",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','auth',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id; const b=msg.payload||{};\nif(typeof b.tempC!=='number'){msg.headers=__CORS;msg.statusCode=400;msg.payload={error:'tempC (number) required'};node.send([msg,null]);return null;}\n(async()=>{const[tr]=await pool.query('SELECT box_id FROM blood_box_transits WHERE id=?',[id]);\n  if(!tr.length){msg.headers=__CORS;msg.statusCode=404;msg.payload={error:'transit not found'};node.send([msg,null]);return;}\n  await pool.query('UPDATE blood_box_transits SET current_temp_c=?, temp_max_c=GREATEST(COALESCE(temp_max_c,?),?) WHERE id=?',[b.tempC,b.tempC,b.tempC,id]);\n  // Continuous high-freq transit telemetry log (§ blood_box_transit_telemetry)\n  await pool.query('INSERT INTO blood_box_transit_telemetry (transit_id,box_id,temp_c,rh_pct,batt_pct,lat,lng,transport,transit_state) VALUES (?,?,?,?,?,?,?,?,?)',\n    [id, tr[0].box_id||null, b.tempC, b.rh??null, b.battery??null, b.lat??null, b.lng??null, b.transport??'wifi', b.transitState??null]);\n  const boxId=tr[0].box_id; let bridge=null;\n  if(boxId){const v={tempHigh:b.tempC,tempLow:b.tempC}; if(typeof b.battery==='number')v.battery=b.battery; bridge={payload:{nodeId:boxId,values:v,ts:b.ts||Date.now()}};}\n  msg.headers=__CORS; msg.payload={ok:true,bridged:boxId?'queued':'no linked node'}; node.send([msg,bridge]);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send([msg,null]);}); return null;\n})();",
        "outputs": 2,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 1020,
        "wires": [
            [
                "d252945eaf689905"
            ],
            [
                "2eecc22570670186"
            ]
        ]
    },
    {
        "id": "d252945eaf689905",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 1020,
        "wires": []
    },
    {
        "id": "17ea272ed8edb74a",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/bloodbox/transits/:id",
        "method": "get",
        "x": 150,
        "y": 1070,
        "wires": [
            [
                "03c8abc0b29949d5"
            ]
        ]
    },
    {
        "id": "03c8abc0b29949d5",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/bloodbox/transits/:id",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','auth',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id;\n(async()=>{const[r]=await pool.query('SELECT * FROM blood_box_transits WHERE id=?',[id]); msg.headers=__CORS; msg.statusCode=r.length?200:404; msg.payload=r.length?r[0]:{error:'not found'}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 1070,
        "wires": [
            [
                "d8c8f5e685f7c42a"
            ]
        ]
    },
    {
        "id": "d8c8f5e685f7c42a",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 1070,
        "wires": []
    },
    {
        "id": "9dec7654078bb848",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/bloodbox/transits",
        "method": "get",
        "x": 150,
        "y": 1120,
        "wires": [
            [
                "660c6b42835e9475"
            ]
        ]
    },
    {
        "id": "660c6b42835e9475",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/bloodbox/transits",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','org',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const orgId=(msg.req.query&&msg.req.query.orgId)||'';\n(async()=>{const[r]=await pool.query('SELECT * FROM blood_box_transits WHERE org_id=? ORDER BY current_eta_min ASC',[orgId]); msg.headers=__CORS; msg.payload=r; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 1120,
        "wires": [
            [
                "ecc58d7dca9115b6"
            ]
        ]
    },
    {
        "id": "ecc58d7dca9115b6",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 1120,
        "wires": []
    },
    {
        "id": "e5f6c07592fc2d24",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/bloodbox/floors",
        "method": "get",
        "x": 150,
        "y": 1170,
        "wires": [
            [
                "b54397c6bb1a1ccb"
            ]
        ]
    },
    {
        "id": "b54397c6bb1a1ccb",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/bloodbox/floors",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','org',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const orgId=(msg.req.query&&msg.req.query.orgId)||'';\n(async()=>{const[r]=await pool.query('SELECT * FROM building_floors WHERE org_id=? ORDER BY floor_number DESC',[orgId]); msg.headers=__CORS; msg.payload=r; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 1170,
        "wires": [
            [
                "ba80ea5a30dd6a3d"
            ]
        ]
    },
    {
        "id": "ba80ea5a30dd6a3d",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 1170,
        "wires": []
    },
    {
        "id": "838574cd52493316",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/bloodbox/beacons/:id",
        "method": "delete",
        "x": 150,
        "y": 1220,
        "wires": [
            [
                "fb24a5309d9a84dd"
            ]
        ]
    },
    {
        "id": "fb24a5309d9a84dd",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "DELETE /api/bloodbox/beacons/:id",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','auth',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id;\n(async()=>{await pool.query('DELETE FROM ble_beacons WHERE id=?',[id]); msg.headers=__CORS; msg.payload={ok:true}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 1220,
        "wires": [
            [
                "9585750ac107ad47"
            ]
        ]
    },
    {
        "id": "9585750ac107ad47",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 1220,
        "wires": []
    },
    {
        "id": "705439b840d19d01",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/bloodbox/beacons",
        "method": "get",
        "x": 150,
        "y": 1270,
        "wires": [
            [
                "73db254d315dc8d3"
            ]
        ]
    },
    {
        "id": "73db254d315dc8d3",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/bloodbox/beacons",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','org',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const orgId=(msg.req.query&&msg.req.query.orgId)||''; const floorId=msg.req.query&&msg.req.query.floorId;\n(async()=>{const sql='SELECT * FROM ble_beacons WHERE org_id=?'+(floorId?' AND floor_id=?':'')+' ORDER BY id'; const a=floorId?[orgId,floorId]:[orgId]; const[r]=await pool.query(sql,a); msg.headers=__CORS; msg.payload=r; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 1270,
        "wires": [
            [
                "07328aaac43163ec"
            ]
        ]
    },
    {
        "id": "07328aaac43163ec",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 1270,
        "wires": []
    },
    {
        "id": "b173105ceaaf96b7",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/bloodbox/beacons",
        "method": "post",
        "x": 150,
        "y": 1320,
        "wires": [
            [
                "4cb3cd0cbb08bdb9"
            ]
        ]
    },
    {
        "id": "4cb3cd0cbb08bdb9",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "POST /api/bloodbox/beacons",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','auth',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const b=msg.payload||{};\nif(!b.orgId||!b.floorId||!b.uuid){msg.headers=__CORS;msg.statusCode=400;msg.payload={error:'orgId, floorId and uuid required'};return msg;}\n(async()=>{const id=b.id||'bcn-'+Date.now(); await pool.query('INSERT INTO ble_beacons (id,org_id,floor_id,uuid,major,minor,pos_x_m,pos_y_m,tx_power_dbm,battery_pct,status) VALUES (?,?,?,?,?,?,?,?,?,?,?) ON DUPLICATE KEY UPDATE floor_id=VALUES(floor_id),pos_x_m=VALUES(pos_x_m),pos_y_m=VALUES(pos_y_m),tx_power_dbm=VALUES(tx_power_dbm),battery_pct=VALUES(battery_pct),status=VALUES(status)',[id,b.orgId,b.floorId,b.uuid,b.major||null,b.minor||null,b.posX||null,b.posY||null,b.txPower||null,b.battery||null,b.status||'active']); msg.headers=__CORS; msg.payload={ok:true,id}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 1320,
        "wires": [
            [
                "196ae840e887c2e4"
            ]
        ]
    },
    {
        "id": "196ae840e887c2e4",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 1320,
        "wires": []
    },
    {
        "id": "9a4b073e355ea76c",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/bloodbox/boxes/:id/location",
        "method": "get",
        "x": 150,
        "y": 1370,
        "wires": [
            [
                "682c604a29925b1f"
            ]
        ]
    },
    {
        "id": "682c604a29925b1f",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/bloodbox/boxes/:id/location",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','auth',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id;\n(async()=>{const[r]=await pool.query('SELECT * FROM blood_box_locations WHERE box_id=? AND is_current=1 ORDER BY moved_at DESC LIMIT 1',[id]); msg.headers=__CORS; msg.payload=r.length?r[0]:null; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 1370,
        "wires": [
            [
                "9573c3d3e1193ea9"
            ]
        ]
    },
    {
        "id": "9573c3d3e1193ea9",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 1370,
        "wires": []
    },
    {
        "id": "7513179ce8be67e4",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/bloodbox/boxes/:id/location",
        "method": "post",
        "x": 150,
        "y": 1420,
        "wires": [
            [
                "fbe4850606819526"
            ]
        ]
    },
    {
        "id": "fbe4850606819526",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "POST /api/bloodbox/boxes/:id/location",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','auth',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id; const b=msg.payload||{};\nif(!b.orgId){msg.headers=__CORS;msg.statusCode=400;msg.payload={error:'orgId required'};return msg;}\n(async()=>{await pool.query('UPDATE blood_box_locations SET is_current=0 WHERE box_id=? AND is_current=1',[id]);\n  await pool.query('INSERT INTO blood_box_locations (org_id,box_id,floor_id,pos_x_m,pos_y_m,room_label,moved_by) VALUES (?,?,?,?,?,?,?)',[b.orgId,id,b.floorId||null,b.posX||null,b.posY||null,b.roomLabel||null,b.movedBy||null]);\n  await pool.query('UPDATE blood_boxes SET floor_id=?,pos_x_m=?,pos_y_m=? WHERE id=?',[b.floorId||null,b.posX||null,b.posY||null,id]);\n  msg.headers=__CORS; msg.payload={ok:true}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 1420,
        "wires": [
            [
                "fd7efc95e45c0a65"
            ]
        ]
    },
    {
        "id": "fd7efc95e45c0a65",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 1420,
        "wires": []
    },
    {
        "id": "220f7e86312fb7aa",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/fleet/:id/latest",
        "method": "get",
        "x": 150,
        "y": 1470,
        "wires": [
            [
                "2d8dd7b267873c0e"
            ]
        ]
    },
    {
        "id": "2d8dd7b267873c0e",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/fleet/:id/latest",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','node',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id;\n(async()=>{const[r]=await pool.query(\"SELECT r1.param_key,r1.value,r1.taken_at FROM readings r1 JOIN (SELECT param_key,MAX(taken_at) mt FROM readings WHERE node_id=? GROUP BY param_key) r2 ON r1.param_key=r2.param_key AND r1.taken_at=r2.mt WHERE r1.node_id=?\",[id,id]);\n  const out={}; let last=null; for(const row of r){ out[row.param_key]=Number(row.value); if(!last||row.taken_at>last) last=row.taken_at; }\n  msg.headers=__CORS; msg.payload={nodeId:id, values:out, lastReadingAt:last}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 1470,
        "wires": [
            [
                "e7daeea72b02ab37"
            ]
        ]
    },
    {
        "id": "e7daeea72b02ab37",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 1470,
        "wires": []
    },
    {
        "id": "5836edbc484f7c50",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/fleet",
        "method": "get",
        "x": 150,
        "y": 1520,
        "wires": [
            [
                "472e8f8924370bb3"
            ]
        ]
    },
    {
        "id": "472e8f8924370bb3",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/fleet",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','auth',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const au=msg.auth||{}; const domain=msg.req.query&&msg.req.query.domain;\nconst orgId = au.role==='superadmin' ? ((msg.req.query&&msg.req.query.orgId)||au.orgId) : au.orgId;\n(async()=>{\n  const acc = au.role==='superadmin' ? {role:'superadmin',orgId:orgId,departmentId:null,levels:{}} : await global.get('accessFor')(au.userId);\n  const sql=\"SELECT n.id,n.name,n.domain,n.org_id,n.site_id,n.department_id,n.lat,n.lng,p.online,p.last_seen,p.rssi,p.fw,\"+\n    \"(SELECT e.severity FROM alarm_events e WHERE e.node_id=n.id AND e.acknowledged_at IS NULL AND e.cleared_at IS NULL ORDER BY FIELD(e.severity,'CRITICAL','WARNING') LIMIT 1) AS alarm \"+\n    \"FROM nodes n LEFT JOIN device_presence p ON p.node_id=n.id WHERE n.org_id=?\"+(domain?\" AND n.domain=?\":\"\")+\" ORDER BY n.domain,n.id\";\n  const args=domain?[orgId,domain]:[orgId]; const[r]=await pool.query(sql,args);\n  const vis=r.filter(n=>{ if(acc.role==='superadmin')return true; if(n.org_id!==acc.orgId)return false; if(acc.role==='admin')return true; const lvl=acc.levels[n.domain]||'none'; if(lvl==='none')return false; if(n.department_id && n.department_id!==acc.departmentId)return false; return true; });\n  msg.headers=__CORS; msg.payload=vis; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 1520,
        "wires": [
            [
                "85bfb0c653645296"
            ]
        ]
    },
    {
        "id": "85bfb0c653645296",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 1520,
        "wires": []
    },
    {
        "id": "f4b832bc37be43fa",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/reports/schedules",
        "method": "get",
        "x": 150,
        "y": 1570,
        "wires": [
            [
                "d944c9df05f9d302"
            ]
        ]
    },
    {
        "id": "d944c9df05f9d302",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/reports/schedules",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','auth',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const orgId=(msg.req.query&&msg.req.query.orgId)||'';\n(async()=>{const[r]=await pool.query(\"SELECT * FROM report_schedules WHERE org_id=? ORDER BY name\",[orgId]); msg.headers=__CORS; msg.payload=r; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 1570,
        "wires": [
            [
                "1dc490e9badc6fe5"
            ]
        ]
    },
    {
        "id": "1dc490e9badc6fe5",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 1570,
        "wires": []
    },
    {
        "id": "eb2e121f01133dab",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/reports/schedules",
        "method": "post",
        "x": 150,
        "y": 1620,
        "wires": [
            [
                "446ce96d1d4240c2"
            ]
        ]
    },
    {
        "id": "446ce96d1d4240c2",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "POST /api/reports/schedules",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','admin',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const b=msg.payload||{};\nif(!b.orgId||!b.name){msg.headers=__CORS;msg.statusCode=400;msg.payload={error:'orgId and name required'};return msg;}\n(async()=>{const id=b.id||'rpt-'+Date.now();\n  await pool.query(\"INSERT INTO report_schedules (id,org_id,name,scope,scope_id,sequence,format,recipients,enabled,next_run_at) VALUES (?,?,?,?,?,?,?,?,?,NOW(3)) ON DUPLICATE KEY UPDATE name=VALUES(name),scope=VALUES(scope),scope_id=VALUES(scope_id),sequence=VALUES(sequence),format=VALUES(format),recipients=VALUES(recipients),enabled=VALUES(enabled)\",\n    [id,b.orgId,b.name,b.scope||'device',b.scopeId||null,b.sequence||'daily',b.format||'CSV',b.recipients||null,b.enabled===false?0:1]);\n  msg.headers=__CORS; msg.payload={ok:true,id}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 1620,
        "wires": [
            [
                "423948e9e8b3b83d"
            ]
        ]
    },
    {
        "id": "423948e9e8b3b83d",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 1620,
        "wires": []
    },
    {
        "id": "1caf8c736b04a371",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/reports/schedules/:id",
        "method": "delete",
        "x": 150,
        "y": 1670,
        "wires": [
            [
                "28b099064120e488"
            ]
        ]
    },
    {
        "id": "28b099064120e488",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "DELETE /api/reports/schedules/:id",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','admin',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id;\n(async()=>{await pool.query(\"DELETE FROM report_schedules WHERE id=?\",[id]); msg.headers=__CORS; msg.payload={ok:true}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 1670,
        "wires": [
            [
                "ed773322d29fd444"
            ]
        ]
    },
    {
        "id": "ed773322d29fd444",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 1670,
        "wires": []
    },
    {
        "id": "1e4188e8e3fde50b",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/event-problems",
        "method": "get",
        "x": 150,
        "y": 1720,
        "wires": [
            [
                "f40913fc880c1951"
            ]
        ]
    },
    {
        "id": "f40913fc880c1951",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/event-problems",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','auth',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const au=msg.auth||{}; const q=msg.req.query||{};\nconst orgId = au.role==='superadmin' ? (q.orgId||au.orgId) : au.orgId;\n(async()=>{let sql=\"SELECT * FROM event_problems WHERE org_id=?\"; const a=[orgId]; if(q.departmentId){sql+=\" AND (department_id=? OR department_id IS NULL)\"; a.push(q.departmentId);} if(q.domain){sql+=\" AND (domain=? OR domain IS NULL)\"; a.push(q.domain);} sql+=\" ORDER BY label\"; const[r]=await pool.query(sql,a); msg.headers=__CORS; msg.payload=r; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 1720,
        "wires": [
            [
                "7162d914459d50fc"
            ]
        ]
    },
    {
        "id": "7162d914459d50fc",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 1720,
        "wires": []
    },
    {
        "id": "5b2d9207976adbbd",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/event-problems",
        "method": "post",
        "x": 150,
        "y": 1770,
        "wires": [
            [
                "6f62097e35f9d2c7"
            ]
        ]
    },
    {
        "id": "6f62097e35f9d2c7",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "POST /api/event-problems",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','admin',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const b=msg.payload||{};\nif(!b.orgId||!b.label){msg.headers=__CORS;msg.statusCode=400;msg.payload={error:'orgId and label required'};return msg;}\n(async()=>{const id=b.id||'ep-'+Date.now(); await pool.query(\"INSERT INTO event_problems (id,org_id,department_id,domain,label) VALUES (?,?,?,?,?) ON DUPLICATE KEY UPDATE department_id=VALUES(department_id),domain=VALUES(domain),label=VALUES(label)\",[id,b.orgId,b.departmentId||null,b.domain||null,b.label]); msg.headers=__CORS; msg.payload={ok:true,id}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 1770,
        "wires": [
            [
                "f393a9cbcedf2ef6"
            ]
        ]
    },
    {
        "id": "f393a9cbcedf2ef6",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 1770,
        "wires": []
    },
    {
        "id": "eb921db01e6fc027",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/event-problems/:id",
        "method": "delete",
        "x": 150,
        "y": 1820,
        "wires": [
            [
                "87bce5b03a34c6da"
            ]
        ]
    },
    {
        "id": "87bce5b03a34c6da",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "DELETE /api/event-problems/:id",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','admin',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id;\n(async()=>{await pool.query(\"DELETE FROM event_problems WHERE id=?\",[id]); msg.headers=__CORS; msg.payload={ok:true}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 1820,
        "wires": [
            [
                "26d3665a25de1fc4"
            ]
        ]
    },
    {
        "id": "26d3665a25de1fc4",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 1820,
        "wires": []
    },
    {
        "id": "b7664dd90f0c9060",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/me/config",
        "method": "get",
        "x": 150,
        "y": 1870,
        "wires": [
            [
                "8f15a0888012c1fb"
            ]
        ]
    },
    {
        "id": "8f15a0888012c1fb",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/me/config",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','auth',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const uid=(msg.req.headers&&msg.req.headers['x-user-id'])||'';\nif(!uid){msg.headers=__CORS;msg.statusCode=401;msg.payload={error:'x-user-id header required'};return msg;}\n(async()=>{const[u]=await pool.query(\"SELECT id,org_id,email,name,role,department_id FROM users WHERE id=?\",[uid]);\n  const[pr]=await pool.query(\"SELECT prefs FROM user_prefs WHERE user_id=?\",[uid]);\n  const prefs = pr.length ? (typeof pr[0].prefs==='string'?JSON.parse(pr[0].prefs||'{}'):pr[0].prefs) : {};\n  msg.headers=__CORS; msg.payload={ user: u.length?u[0]:{id:uid}, prefs }; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 1870,
        "wires": [
            [
                "41f04186a5aa9d9c"
            ]
        ]
    },
    {
        "id": "41f04186a5aa9d9c",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 1870,
        "wires": []
    },
    {
        "id": "6f840c9630868458",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/me/config",
        "method": "put",
        "x": 150,
        "y": 1920,
        "wires": [
            [
                "19572591f1a0ba87"
            ]
        ]
    },
    {
        "id": "19572591f1a0ba87",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "PUT /api/me/config",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','auth',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const uid=(msg.req.headers&&msg.req.headers['x-user-id'])||''; const prefs=msg.payload&&msg.payload.prefs!==undefined?msg.payload.prefs:msg.payload;\nif(!uid){msg.headers=__CORS;msg.statusCode=401;msg.payload={error:'x-user-id header required'};return msg;}\n(async()=>{await pool.query(\"INSERT INTO user_prefs (user_id,prefs) VALUES (?,?) ON DUPLICATE KEY UPDATE prefs=VALUES(prefs)\",[uid,JSON.stringify(prefs||{})]); msg.headers=__CORS; msg.payload={ok:true}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 1920,
        "wires": [
            [
                "a762d591fe4fc6b9"
            ]
        ]
    },
    {
        "id": "a762d591fe4fc6b9",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 1920,
        "wires": []
    },
    {
        "id": "91a7f20f3b54f457",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/orgs",
        "method": "get",
        "x": 150,
        "y": 1970,
        "wires": [
            [
                "fa57b0c522387665"
            ]
        ]
    },
    {
        "id": "fa57b0c522387665",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/orgs",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','auth',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool');\n(async()=>{const[r]=await pool.query(\"SELECT * FROM organizations ORDER BY name\"); msg.headers=__CORS; msg.payload=r; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 1970,
        "wires": [
            [
                "25b080be5984cf1d"
            ]
        ]
    },
    {
        "id": "25b080be5984cf1d",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 1970,
        "wires": []
    },
    {
        "id": "1b9ce76b92f80e98",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/orgs",
        "method": "post",
        "x": 150,
        "y": 2020,
        "wires": [
            [
                "f29db1f98d7110c1"
            ]
        ]
    },
    {
        "id": "f29db1f98d7110c1",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "POST /api/orgs",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','super',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const b=msg.payload||{};\nif(!b.name){msg.headers=__CORS;msg.statusCode=400;msg.payload={error:'name required'};return msg;}\n(async()=>{const id=b.id||'org-'+Date.now(); await pool.query(\"INSERT INTO organizations (id,name,status,logo_url) VALUES (?,?,?,?) ON DUPLICATE KEY UPDATE name=VALUES(name),status=VALUES(status),logo_url=VALUES(logo_url)\",[id,b.name,b.status||'active',b.logoUrl||null]); msg.headers=__CORS; msg.payload={ok:true,id}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 2020,
        "wires": [
            [
                "4405704579dbe594"
            ]
        ]
    },
    {
        "id": "4405704579dbe594",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 2020,
        "wires": []
    },
    {
        "id": "05c7ef75917ae365",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/orgs/:id/entitlements",
        "method": "get",
        "x": 150,
        "y": 2070,
        "wires": [
            [
                "cc6ef6a14b117ebb"
            ]
        ]
    },
    {
        "id": "cc6ef6a14b117ebb",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/orgs/:id/entitlements",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','auth',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id;\n(async()=>{const[r]=await pool.query(\"SELECT platform FROM org_entitlements WHERE org_id=?\",[id]); msg.headers=__CORS; msg.payload=r.map(x=>x.platform); node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 2070,
        "wires": [
            [
                "d043a4fe078f74cc"
            ]
        ]
    },
    {
        "id": "d043a4fe078f74cc",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 2070,
        "wires": []
    },
    {
        "id": "798c50ffcb5829ed",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/orgs/:id/entitlements",
        "method": "put",
        "x": 150,
        "y": 2120,
        "wires": [
            [
                "5f5baded85e85ddb"
            ]
        ]
    },
    {
        "id": "5f5baded85e85ddb",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "PUT /api/orgs/:id/entitlements",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','super',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id; const list=(msg.payload&&msg.payload.platforms)||[];\n(async()=>{await pool.query(\"DELETE FROM org_entitlements WHERE org_id=?\",[id]); for(const p of list){ await pool.query(\"INSERT IGNORE INTO org_entitlements (org_id,platform) VALUES (?,?)\",[id,p]); } msg.headers=__CORS; msg.payload={ok:true,count:list.length}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 2120,
        "wires": [
            [
                "1efcd7fd3fb48d19"
            ]
        ]
    },
    {
        "id": "1efcd7fd3fb48d19",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 2120,
        "wires": []
    },
    {
        "id": "886258ab729afb63",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/orgs/:orgId/departments",
        "method": "get",
        "x": 150,
        "y": 2170,
        "wires": [
            [
                "be41ed43e6383a5a"
            ]
        ]
    },
    {
        "id": "be41ed43e6383a5a",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/orgs/:orgId/departments",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','auth',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const orgId=msg.req.params.orgId;\n(async()=>{const[r]=await pool.query(\"SELECT * FROM departments WHERE org_id=? ORDER BY name\",[orgId]); msg.headers=__CORS; msg.payload=r; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 2170,
        "wires": [
            [
                "170d7aa219aec1cb"
            ]
        ]
    },
    {
        "id": "170d7aa219aec1cb",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 2170,
        "wires": []
    },
    {
        "id": "cedbb5d1392819b1",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/orgs/:orgId/departments",
        "method": "post",
        "x": 150,
        "y": 2220,
        "wires": [
            [
                "d3deacd40479c6ec"
            ]
        ]
    },
    {
        "id": "d3deacd40479c6ec",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "POST /api/orgs/:orgId/departments",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','admin',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const orgId=msg.req.params.orgId; const b=msg.payload||{};\nif(!b.name){msg.headers=__CORS;msg.statusCode=400;msg.payload={error:'name required'};return msg;}\n(async()=>{const id=b.id||'dept-'+Date.now(); await pool.query(\"INSERT INTO departments (id,org_id,name) VALUES (?,?,?) ON DUPLICATE KEY UPDATE name=VALUES(name)\",[id,orgId,b.name]); msg.headers=__CORS; msg.payload={ok:true,id}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 2220,
        "wires": [
            [
                "77c7f00658a9db0a"
            ]
        ]
    },
    {
        "id": "77c7f00658a9db0a",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 2220,
        "wires": []
    },
    {
        "id": "b76e7d94414291a4",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/orgs/:orgId/users",
        "method": "get",
        "x": 150,
        "y": 2270,
        "wires": [
            [
                "cd96b4d774267c99"
            ]
        ]
    },
    {
        "id": "cd96b4d774267c99",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/orgs/:orgId/users",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','auth',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const orgId=msg.req.params.orgId;\n(async()=>{const[r]=await pool.query(\"SELECT id,org_id,email,name,role,department_id FROM users WHERE org_id=? ORDER BY name\",[orgId]); msg.headers=__CORS; msg.payload=r; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 2270,
        "wires": [
            [
                "0901c6d4f9ae62ca"
            ]
        ]
    },
    {
        "id": "0901c6d4f9ae62ca",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 2270,
        "wires": []
    },
    {
        "id": "dcea90724a855876",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/orgs/:orgId/users",
        "method": "post",
        "x": 150,
        "y": 2320,
        "wires": [
            [
                "7bdd3b7c78755e60"
            ]
        ]
    },
    {
        "id": "7bdd3b7c78755e60",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "POST /api/orgs/:orgId/users",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','admin',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const orgId=msg.req.params.orgId; const b=msg.payload||{};\nif(!b.name){msg.headers=__CORS;msg.statusCode=400;msg.payload={error:'name required'};return msg;}\n(async()=>{const id=b.id||'u-'+Date.now(); await pool.query(\"INSERT INTO users (id,org_id,email,name,role,department_id) VALUES (?,?,?,?,?,?) ON DUPLICATE KEY UPDATE email=VALUES(email),name=VALUES(name),role=VALUES(role),department_id=VALUES(department_id)\",[id,orgId,b.email||null,b.name,b.role||'viewer',b.departmentId||null]); msg.headers=__CORS; msg.payload={ok:true,id}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 2320,
        "wires": [
            [
                "2d7a8b6d02a1c6b3"
            ]
        ]
    },
    {
        "id": "2d7a8b6d02a1c6b3",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 2320,
        "wires": []
    },
    {
        "id": "5a3589536dc16903",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/orgs/:id",
        "method": "delete",
        "x": 150,
        "y": 2370,
        "wires": [
            [
                "203c794212d103a4"
            ]
        ]
    },
    {
        "id": "203c794212d103a4",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "DELETE /api/orgs/:id",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','super',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id;\n(async()=>{await pool.query(\"DELETE FROM organizations WHERE id=?\",[id]); msg.headers=__CORS; msg.payload={ok:true}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 2370,
        "wires": [
            [
                "f753c9f06912f425"
            ]
        ]
    },
    {
        "id": "f753c9f06912f425",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 2370,
        "wires": []
    },
    {
        "id": "d85f9a77af26838d",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/departments/:id",
        "method": "delete",
        "x": 150,
        "y": 2420,
        "wires": [
            [
                "de9567bda1095bf2"
            ]
        ]
    },
    {
        "id": "de9567bda1095bf2",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "DELETE /api/departments/:id",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','admin',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id;\n(async()=>{await pool.query(\"DELETE FROM departments WHERE id=?\",[id]); msg.headers=__CORS; msg.payload={ok:true}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 2420,
        "wires": [
            [
                "ad57cc61e2e231e4"
            ]
        ]
    },
    {
        "id": "ad57cc61e2e231e4",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 2420,
        "wires": []
    },
    {
        "id": "5785df2aa06ba208",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/users/:id",
        "method": "delete",
        "x": 150,
        "y": 2470,
        "wires": [
            [
                "d86445bde0a87c12"
            ]
        ]
    },
    {
        "id": "d86445bde0a87c12",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "DELETE /api/users/:id",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','admin',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id;\n(async()=>{await pool.query(\"DELETE FROM users WHERE id=?\",[id]); msg.headers=__CORS; msg.payload={ok:true}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 2470,
        "wires": [
            [
                "f4d08e12e58b5c09"
            ]
        ]
    },
    {
        "id": "f4d08e12e58b5c09",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 2470,
        "wires": []
    },
    {
        "id": "a166c78c06c4f1b2",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/product-access",
        "method": "get",
        "x": 150,
        "y": 2520,
        "wires": [
            [
                "91d3761631b0db0f"
            ]
        ]
    },
    {
        "id": "91d3761631b0db0f",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/product-access",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','auth',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const q=msg.req.query||{};\n(async()=>{const[r]=await pool.query(\"SELECT domain,level FROM product_access WHERE scope=? AND scope_id=?\",[q.scope||'department',q.scopeId||'']); msg.headers=__CORS; msg.payload=r; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 2520,
        "wires": [
            [
                "ec8741f289ab9322"
            ]
        ]
    },
    {
        "id": "ec8741f289ab9322",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 2520,
        "wires": []
    },
    {
        "id": "31eb63b478eb1099",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/product-access",
        "method": "put",
        "x": 150,
        "y": 2570,
        "wires": [
            [
                "4e94e59aa9c0e5e5"
            ]
        ]
    },
    {
        "id": "4e94e59aa9c0e5e5",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "PUT /api/product-access",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','admin',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const b=msg.payload||{};\nif(!b.scope||!b.scopeId||!b.domain){msg.headers=__CORS;msg.statusCode=400;msg.payload={error:'scope, scopeId, domain required'};return msg;}\n(async()=>{await pool.query(\"INSERT INTO product_access (scope,scope_id,domain,level) VALUES (?,?,?,?) ON DUPLICATE KEY UPDATE level=VALUES(level)\",[b.scope,b.scopeId,b.domain,b.level||'view']); msg.headers=__CORS; msg.payload={ok:true}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 2570,
        "wires": [
            [
                "d4a2f36cda31d385"
            ]
        ]
    },
    {
        "id": "d4a2f36cda31d385",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 2570,
        "wires": []
    },
    {
        "id": "c9ec04a1f5ec1469",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/nodes",
        "method": "post",
        "x": 150,
        "y": 2620,
        "wires": [
            [
                "7942841246b37a2d"
            ]
        ]
    },
    {
        "id": "7942841246b37a2d",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "POST /api/nodes",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','super',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const b=msg.payload||{};\nif(!b.id||!b.orgId||!b.domain||!b.name){msg.headers=__CORS;msg.statusCode=400;msg.payload={error:'id, orgId, domain, name required'};return msg;}\n(async()=>{await pool.query(\"INSERT INTO nodes (id,org_id,site_id,department_id,domain,name,mqtt_prefix,lat,lng) VALUES (?,?,?,?,?,?,?,?,?) ON DUPLICATE KEY UPDATE site_id=VALUES(site_id),department_id=VALUES(department_id),domain=VALUES(domain),name=VALUES(name),mqtt_prefix=VALUES(mqtt_prefix),lat=VALUES(lat),lng=VALUES(lng)\",[b.id,b.orgId,b.siteId||null,b.departmentId||null,b.domain,b.name,b.mqttPrefix||null,b.lat??null,b.lng??null]); msg.headers=__CORS; msg.payload={ok:true,id:b.id}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 2620,
        "wires": [
            [
                "9f7a635b569ba589"
            ]
        ]
    },
    {
        "id": "9f7a635b569ba589",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 2620,
        "wires": []
    },
    {
        "id": "06806cd662076e7b",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/nodes/:id/config",
        "method": "put",
        "x": 150,
        "y": 2670,
        "wires": [
            [
                "1cdf0db56b9536af"
            ]
        ]
    },
    {
        "id": "1cdf0db56b9536af",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "PUT /api/nodes/:id/config",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','node:manage',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id; const body=msg.payload||{};\n(async()=>{const[n]=await pool.query(\"SELECT mqtt_prefix FROM nodes WHERE id=?\",[id]);\n  if(!n.length||!n[0].mqtt_prefix){msg.headers=__CORS;msg.statusCode=404;msg.payload={error:'node/mqtt_prefix not found'};node.send([msg,null]);return;}\n  let payload=body; if(!body||!Object.keys(body).length){const[rr]=await pool.query(\"SELECT rule_json FROM alarm_rules WHERE node_id=?\",[id]); payload=rr.length?(typeof rr[0].rule_json==='string'?JSON.parse(rr[0].rule_json):rr[0].rule_json):{};}\n  const topic=n[0].mqtt_prefix+'/config'; msg.headers=__CORS; msg.payload={ok:true,topic}; node.send([msg,{topic,payload,qos:1,retain:true}]);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 2,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 2670,
        "wires": [
            [
                "cd4a5ef1d5ddfc43"
            ],
            [
                "e600e6c9c5aba92c",
                "f6690db035cb086d"
            ]
        ]
    },
    {
        "id": "cd4a5ef1d5ddfc43",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 2670,
        "wires": []
    },
    {
        "id": "aef2a78ca80b8865",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/nodes/:id/cmd",
        "method": "post",
        "x": 150,
        "y": 2720,
        "wires": [
            [
                "c698bccd287ae31e"
            ]
        ]
    },
    {
        "id": "c698bccd287ae31e",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "POST /api/nodes/:id/cmd",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','node:manage',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id; const body=msg.payload||{}; const op=body.op||'reboot';\n(async()=>{const[n]=await pool.query(\"SELECT mqtt_prefix FROM nodes WHERE id=?\",[id]);\n  if(!n.length||!n[0].mqtt_prefix){msg.headers=__CORS;msg.statusCode=404;msg.payload={error:'node/mqtt_prefix not found'};node.send([msg,null]);return;}\n  const topic=n[0].mqtt_prefix+'/cmd/'+op; msg.headers=__CORS; msg.payload={ok:true,topic}; node.send([msg,{topic,payload:body,qos:1,retain:false}]);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 2,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 2720,
        "wires": [
            [
                "2839a803e7fb2fd6"
            ],
            [
                "e600e6c9c5aba92c",
                "f6690db035cb086d"
            ]
        ]
    },
    {
        "id": "2839a803e7fb2fd6",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 2720,
        "wires": []
    },
    {
        "id": "1fefc4dcd6a33c87",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/nodes/:id/ota",
        "method": "post",
        "x": 150,
        "y": 2770,
        "wires": [
            [
                "f1a520b7c30f4193"
            ]
        ]
    },
    {
        "id": "f1a520b7c30f4193",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "POST /api/nodes/:id/ota",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','node:manage',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id; const body=msg.payload||{};\nif(!body.to_version||!body.artefact_uri){msg.headers=__CORS;msg.statusCode=400;msg.payload={error:'to_version and artefact_uri required'};node.send([msg,null]);return null;}\n(async()=>{const[n]=await pool.query(\"SELECT mqtt_prefix FROM nodes WHERE id=?\",[id]);\n  if(!n.length||!n[0].mqtt_prefix){msg.headers=__CORS;msg.statusCode=404;msg.payload={error:'node/mqtt_prefix not found'};node.send([msg,null]);return;}\n  // Create a deployment record so progress/result can be tracked\n  const depId='dep-'+Date.now()+'-'+Math.random().toString(36).slice(2,6);\n  // Find the release record (optional — may not exist if using ad-hoc URI)\n  const [rel]=await pool.query(\"SELECT id FROM ota_releases WHERE product=? AND version=? LIMIT 1\",[body.product||'',body.to_version]);\n  const releaseId=rel.length?rel[0].id:(body.release_id||depId);\n  await pool.query(\"INSERT INTO ota_deployments (id,node_id,release_id,status,progress_pct) VALUES (?,?,?,'pending',0)\",[depId,id,releaseId]);\n  const topic=n[0].mqtt_prefix+'/ota/cmd'; msg.headers=__CORS; msg.payload={ok:true,topic,deploymentId:depId}; node.send([msg,{topic,payload:Object.assign({},body,{deployment_id:depId}),qos:1,retain:false}]);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 2,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 2770,
        "wires": [
            [
                "ec15c6c18ff59e40"
            ],
            [
                "e600e6c9c5aba92c",
                "f6690db035cb086d"
            ]
        ]
    },
    {
        "id": "ec15c6c18ff59e40",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 2770,
        "wires": []
    },
    {
        "id": "1a4c40d0d7533bfc",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/ota/releases",
        "method": "get",
        "x": 150,
        "y": 2820,
        "wires": [
            [
                "b243a956d139e760"
            ]
        ]
    },
    {
        "id": "b243a956d139e760",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/ota/releases",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','admin',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const q=msg.req.query||{};\n(async()=>{\n  let sql='SELECT id,product,version,artefact_uri,sha256,release_notes,is_mandatory,created_at FROM ota_releases';\n  const args=[]; if(q.product){sql+=' WHERE product=?'; args.push(q.product);}\n  sql+=' ORDER BY created_at DESC'; const[r]=await pool.query(sql,args);\n  msg.headers=__CORS; msg.payload=r; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 2820,
        "wires": [
            [
                "d58e892ddfee9cc6"
            ]
        ]
    },
    {
        "id": "d58e892ddfee9cc6",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 2820,
        "wires": []
    },
    {
        "id": "569aa154f4aa8f69",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/ota/releases",
        "method": "post",
        "x": 150,
        "y": 2870,
        "wires": [
            [
                "4edebcccda2cf329"
            ]
        ]
    },
    {
        "id": "4edebcccda2cf329",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "POST /api/ota/releases",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','admin',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const b=msg.payload||{};\nif(!b.product||!b.version){msg.headers=__CORS;msg.statusCode=400;msg.payload={error:'product and version required'};return msg;}\n(async()=>{\n  const id=b.id||'rel-'+Date.now()+'-'+Math.random().toString(36).slice(2,6);\n  // artefact_uri: admin provides the HTTPS URL where the .bin is hosted\n  // (S3/GCS pre-signed, nginx static, etc.). The frontend uploads the binary\n  // to object storage first, then passes the URL here.\n  await pool.query(\n    \"INSERT INTO ota_releases (id,product,version,artefact_uri,sha256,release_notes,is_mandatory) VALUES (?,?,?,?,?,?,?) \" +\n    \"ON DUPLICATE KEY UPDATE artefact_uri=VALUES(artefact_uri),sha256=VALUES(sha256),release_notes=VALUES(release_notes),is_mandatory=VALUES(is_mandatory)\",\n    [id, b.product, b.version, b.artefact_uri||'', b.sha256||null, b.release_notes||null, b.is_mandatory?1:0]);\n  msg.headers=__CORS; msg.payload={ok:true,id}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 2870,
        "wires": [
            [
                "bd9e486293eb7714"
            ]
        ]
    },
    {
        "id": "bd9e486293eb7714",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 2870,
        "wires": []
    },
    {
        "id": "3d1c1556a5bab599",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/ota/releases/:id",
        "method": "delete",
        "x": 150,
        "y": 2920,
        "wires": [
            [
                "0a4c6b310f74ee1d"
            ]
        ]
    },
    {
        "id": "0a4c6b310f74ee1d",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "DELETE /api/ota/releases/:id",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','admin',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const id=msg.req.params.id;\n(async()=>{await pool.query(\"DELETE FROM ota_releases WHERE id=?\",[id]); msg.headers=__CORS; msg.payload={ok:true}; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 2920,
        "wires": [
            [
                "ade4fc97e028e97e"
            ]
        ]
    },
    {
        "id": "ade4fc97e028e97e",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 2920,
        "wires": []
    },
    {
        "id": "d8aab0b0f5866209",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/ota/deployments",
        "method": "get",
        "x": 150,
        "y": 2970,
        "wires": [
            [
                "dc82fce2d3538ebf"
            ]
        ]
    },
    {
        "id": "dc82fce2d3538ebf",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "GET /api/ota/deployments",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','admin',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const q=msg.req.query||{};\n(async()=>{\n  let sql='SELECT d.*, r.product, r.version FROM ota_deployments d LEFT JOIN ota_releases r ON r.id=d.release_id';\n  const args=[]; const where=[];\n  if(q.nodeId){where.push('d.node_id=?'); args.push(q.nodeId);}\n  if(q.status){where.push('d.status=?'); args.push(q.status);}\n  if(where.length) sql+=' WHERE '+where.join(' AND ');\n  sql+=' ORDER BY d.started_at DESC LIMIT 100'; const[r]=await pool.query(sql,args);\n  msg.headers=__CORS; msg.payload=r; node.send(msg);})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 1,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 2970,
        "wires": [
            [
                "63764a7df0978a86"
            ]
        ]
    },
    {
        "id": "63764a7df0978a86",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 2970,
        "wires": []
    },
    {
        "id": "99d59a5a820e7b8a",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/ota/deploy-fleet",
        "method": "post",
        "x": 150,
        "y": 3020,
        "wires": [
            [
                "ac02b95548194891"
            ]
        ]
    },
    {
        "id": "ac02b95548194891",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "POST /api/ota/deploy-fleet",
        "func": "\nreturn (async()=>{\nconst __g=global.get('guard');\nconst __ar=__g?await __g((msg.req.headers&&(msg.req.headers.authorization||msg.req.headers.Authorization))||'','admin',msg.req):{ok:false,code:503,error:'auth not ready'};\nif(!__ar.ok){msg.headers={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*'};msg.statusCode=__ar.code;msg.payload={error:__ar.error};return msg;}\nmsg.auth=__ar.auth;\nconst __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nconst pool=global.get('pool'); const b=msg.payload||{};\nif(!b.release_id){msg.headers=__CORS;msg.statusCode=400;msg.payload={error:'release_id required'};return msg;}\n(async()=>{\n  const [rel]=await pool.query(\"SELECT id,product,version,artefact_uri FROM ota_releases WHERE id=?\",[b.release_id]);\n  if(!rel.length){msg.headers=__CORS;msg.statusCode=404;msg.payload={error:'release not found'};node.send([msg,null]);return;}\n  const r=rel[0]; const [nodes]=await pool.query(\"SELECT n.id,n.mqtt_prefix FROM nodes n WHERE n.domain=?\",[r.product]);\n  const deployed=[];\n  for(const nd of nodes){\n    if(!nd.mqtt_prefix) continue;\n    const depId='dep-'+Date.now()+'-'+Math.random().toString(36).slice(2,6);\n    await pool.query(\"INSERT INTO ota_deployments (id,node_id,release_id,status,progress_pct) VALUES (?,?,?,'pending',0)\",[depId,nd.id,r.id]);\n    const payload={to_version:r.version, artefact_uri:r.artefact_uri, deployment_id:depId};\n    node.send([null,{topic:nd.mqtt_prefix+'/ota/cmd',payload,qos:1,retain:false}]);\n    deployed.push({nodeId:nd.id,deploymentId:depId});\n  }\n  msg.headers=__CORS; msg.payload={ok:true,count:deployed.length,deployments:deployed}; node.send([msg,null]);\n})().catch(e=>{msg.headers=__CORS;msg.statusCode=500;msg.payload={error:e.message};node.send(msg);}); return null;\n})();",
        "outputs": 2,
        "libs": [
            {
                "var": "mysql",
                "module": "mysql2/promise"
            }
        ],
        "x": 420,
        "y": 3020,
        "wires": [
            [
                "1f1fe0742af5469b"
            ],
            [
                "e600e6c9c5aba92c",
                "f6690db035cb086d"
            ]
        ]
    },
    {
        "id": "1f1fe0742af5469b",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 3020,
        "wires": []
    },
    {
        "id": "ea0f1bbc5ff34588",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/*",
        "method": "options",
        "x": 150,
        "y": 3070,
        "wires": [
            [
                "917ac4b3bfb8bf8c"
            ]
        ]
    },
    {
        "id": "917ac4b3bfb8bf8c",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "OPTIONS /api/*",
        "func": "const __CORS={'Access-Control-Allow-Origin':env.get('CORS_ORIGIN')||'*','Access-Control-Allow-Headers':'content-type, x-user-id, authorization','Access-Control-Allow-Methods':'GET,PUT,POST,DELETE,OPTIONS','X-Content-Type-Options':'nosniff','X-Frame-Options':'DENY'};\nmsg.headers=__CORS; msg.statusCode=204; msg.payload=''; return msg;",
        "outputs": 1,
        "libs": [],
        "x": 420,
        "y": 3070,
        "wires": [
            [
                "11b93051e598bc82"
            ]
        ]
    },
    {
        "id": "11b93051e598bc82",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 3070,
        "wires": []
    },
    {
        "id": "60e7e2f21c0a1c9b",
        "type": "http in",
        "z": "f78e85ea68abe472",
        "name": "",
        "url": "/api/nodes/:id/readings",
        "method": "post",
        "x": 150,
        "y": 3120,
        "wires": [
            [
                "a831d9a6685818b3"
            ]
        ]
    },
    {
        "id": "a831d9a6685818b3",
        "type": "function",
        "z": "f78e85ea68abe472",
        "name": "POST /api/nodes/:id/readings",
        "func": "msg.payload={nodeId:msg.req.params.id,values:(msg.payload&&msg.payload.values)||{},ts:(msg.payload&&msg.payload.ts)};return msg;",
        "outputs": 1,
        "libs": [],
        "x": 420,
        "y": 3120,
        "wires": [
            [
                "2eecc22570670186"
            ]
        ]
    },
    {
        "id": "ce62d5685834964a",
        "type": "http response",
        "z": "f78e85ea68abe472",
        "statusCode": "",
        "x": 700,
        "y": 3120,
        "wires": []
    },
    {
        "id": "f6294e349dc29d5d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "emqx.data.svc.cluster.local",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "wslistener",
        "type": "websocket-listener",
        "path": "/ws/telemetry",
        "wholemsg": "false"
    }
]