backend/node-red/flows.nodered-backend.json
[
  {
    "id": "be",
    "type": "tab",
    "label": "ONEOPS Node-RED Backend (all-in-one)"
  },
  {
    "id": "mqttbroker",
    "type": "mqtt-broker",
    "name": "broker",
    "broker": "mqtt.data.svc.cluster.local",
    "port": "1883",
    "clientid": "nr-backend"
  },
  {
    "id": "startup",
    "type": "inject",
    "z": "be",
    "name": "startup",
    "props": [],
    "once": true,
    "onceDelay": "0.2",
    "repeat": "",
    "x": 130,
    "y": 60,
    "wires": [
      [
        "init"
      ]
    ]
  },
  {
    "id": "init",
    "type": "function",
    "z": "be",
    "name": "init pool + engine",
    "func": "\nconst mysql = global.get('mysql') || require('mysql2/promise');\nglobal.set('mysql', mysql);\nif (!global.get('pool')) {\n  global.set('pool', mysql.createPool({\n    host: env.get('DB_HOST') || 'mysql.data.svc.cluster.local',\n    port: Number(env.get('DB_PORT') || 3306),\n    user: env.get('DB_USER') || 'admin',\n    password: env.get('DB_PASSWORD') || 'iothub.2026',\n    database: env.get('DB_NAME') || 'iothub',\n    namedPlaceholders: true, connectionLimit: 10, timezone: 'Z',\n  }));\n}\n// Pure alarm engine (mirrors src/server/alarmEngine.ts) ----------------------\nfunction breaches(v,l,d){return d==='high'?v>=l:v<=l;}\nfunction cleared(v,l,d,h){return d==='high'?v<l-h:v>l+h;}\nfunction evaluate(nodeId, rule, readings){\n  const out=[];\n  for(const p of rule.params){\n    let active=null, run=0, prev=null;\n    for(const r of readings){\n      const v=r.values[p.key]; if(v===undefined||Number.isNaN(v))continue;\n      if(p.rate&&prev!==null){const d=p.direction==='high'?v-prev:prev-v; if(d>=p.rate.warn)out.push(mk(nodeId,p,'WARNING','rate',v,p.rate.warn,r));}\n      prev=v;\n      const lvl=breaches(v,p.critical,p.direction)?'CRITICAL':breaches(v,p.warn,p.direction)?'WARNING':null;\n      if(lvl){run++; if(run>=rule.dwellMin&&lvl!==active){ if(active===null||(active==='WARNING'&&lvl==='CRITICAL')){out.push(mk(nodeId,p,lvl,'threshold',v,lvl==='CRITICAL'?p.critical:p.warn,r));} active=lvl; } }\n      else if(active&&cleared(v,p.warn,p.direction,rule.hysteresis)){active=null;run=0;}\n      else if(!lvl){run=0;}\n    }\n  }\n  return out.sort((a,b)=>b.ts-a.ts);\n}\nfunction mk(nodeId,p,sev,kind,value,thr,r){return {id:'ev-'+nodeId+'-'+p.key+'-'+r.ts+'-'+kind,nodeId:nodeId,paramKey:p.key,paramLabel:p.label,severity:sev,kind:kind,value:+value.toFixed(2),threshold:thr,unit:p.unit,time:r.time,ts:r.ts};}\nglobal.set('evaluate', evaluate);\nnode.warn('ONEOPS Node-RED backend: pool + engine ready');\n",
    "outputs": 1,
    "libs": [
      {
        "var": "mysql",
        "module": "mysql2/promise"
      }
    ],
    "x": 340,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "mqttin",
    "type": "mqtt in",
    "z": "be",
    "name": "telemetry/#",
    "topic": "telemetry/#",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "mqttbroker",
    "x": 130,
    "y": 140,
    "wires": [
      [
        "normalize"
      ]
    ]
  },
  {
    "id": "normalize",
    "type": "function",
    "z": "be",
    "name": "normalize",
    "func": "\nlet nodeId, values, ts = Date.now();\nif (msg.payload && typeof msg.payload==='object' && msg.payload.nodeId){ nodeId=msg.payload.nodeId; values=msg.payload.values||{}; ts=msg.payload.ts||ts; }\nelse { const p=(msg.topic||'').split('/'); nodeId=p[1]; values={[p[2]]:Number(msg.payload)}; }\nif(!nodeId) return null;\nmsg.payload = { nodeId, values, ts };\nreturn msg;\n",
    "outputs": 1,
    "libs": [],
    "x": 330,
    "y": 140,
    "wires": [
      [
        "ingest"
      ]
    ]
  },
  {
    "id": "ingest",
    "type": "function",
    "z": "be",
    "name": "ingest + evaluate + persist",
    "func": "\nconst pool = global.get('pool'); const evaluate = global.get('evaluate');\nconst { nodeId, values, ts } = msg.payload || {};\nif (!pool || !evaluate || !nodeId || !values) { msg.payload = { error: 'bad input' }; return msg; }\nconst taken = new Date(ts || Date.now());\n(async () => {\n  for (const [k,v] of Object.entries(values)) { if(typeof v==='number') await pool.query('INSERT IGNORE INTO readings (node_id,param_key,value,taken_at) VALUES (?,?,?,?)',[nodeId,k,v,taken]); }\n  const [rr] = await pool.query('SELECT rule_json FROM alarm_rules WHERE node_id=?',[nodeId]);\n  const [mm] = await pool.query('SELECT org_id, department_id FROM nodes WHERE id=?',[nodeId]);\n  if (!rr.length || !mm.length) { msg.payload={inserted:0}; node.send(msg); return; }\n  const rule = typeof rr[0].rule_json==='string'?JSON.parse(rr[0].rule_json):rr[0].rule_json;\n  const [rows] = await pool.query('SELECT param_key,value,taken_at FROM readings WHERE node_id=? AND taken_at>(NOW(3)-INTERVAL 360 MINUTE) ORDER BY taken_at ASC',[nodeId]);\n  const byTs=new Map();\n  for(const r of rows){const t=new Date(r.taken_at).getTime(); if(!byTs.has(t))byTs.set(t,{time:new Date(t).toISOString(),ts:t,values:{}}); byTs.get(t).values[r.param_key]=Number(r.value);}\n  const readings=[...byTs.values()].sort((a,b)=>a.ts-b.ts);\n  const events = evaluate(nodeId, rule, readings);\n  let inserted=0;\n  for (const e of events){\n    const [ex]=await pool.query('SELECT id FROM alarm_events WHERE id=?',[e.id]);\n    if (ex.length) continue;\n    await pool.query('INSERT IGNORE INTO alarm_events (id,node_id,org_id,department_id,param_key,param_label,severity,kind,value,threshold,unit,raised_at) VALUES (?,?,?,?,?,?,?,?,?,?,?,?)',\n      [e.id,nodeId,mm[0].org_id,mm[0].department_id,e.paramKey,e.paramLabel,e.severity,e.kind,e.value,e.threshold,e.unit,new Date(e.ts)]);\n    inserted++;\n    node.send([null, { payload: e }]); // 2nd output → notify\n  }\n  msg.payload = { inserted }; node.send([msg, null]);\n})().catch(err => { node.error(err.message, msg); });\nreturn null;\n",
    "outputs": 2,
    "libs": [],
    "x": 560,
    "y": 160,
    "wires": [
      [
        "dbgIngest"
      ],
      [
        "notify"
      ]
    ]
  },
  {
    "id": "notify",
    "type": "function",
    "z": "be",
    "name": "notify (LINE/Telegram/GChat)",
    "func": "\nconst e = msg.payload; const env2 = (k)=>env.get(k);\nconst text = '['+e.severity+'] '+e.paramLabel+' = '+e.value+e.unit+' (limit '+e.threshold+') on '+e.nodeId+' @ '+e.time;\n(async () => {\n  try {\n    const line = env2('LINE_NOTIFY_TOKEN');\n    if (line) await fetch('https://notify-api.line.me/api/notify',{method:'POST',headers:{Authorization:'Bearer '+line,'Content-Type':'application/x-www-form-urlencoded'},body:new URLSearchParams({message:' '+text})});\n    const tg = env2('TELEGRAM_BOT_TOKEN'), chat = env2('TELEGRAM_CHAT_ID');\n    if (tg && chat) await fetch('https://api.telegram.org/bot'+tg+'/sendMessage',{method:'POST',headers:{'content-type':'application/json'},body:JSON.stringify({chat_id:chat,text})});\n    const gc = env2('GOOGLE_CHAT_WEBHOOK');\n    if (gc) await fetch(gc,{method:'POST',headers:{'content-type':'application/json'},body:JSON.stringify({text})});\n  } catch(err){ node.error('notify: '+err.message); }\n})();\nreturn null;\n",
    "outputs": 1,
    "libs": [],
    "x": 820,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "dbgIngest",
    "type": "debug",
    "z": "be",
    "name": "ingest",
    "active": true,
    "complete": "payload",
    "x": 830,
    "y": 140,
    "wires": []
  },
  {
    "id": "esctick",
    "type": "inject",
    "z": "be",
    "name": "every 60s",
    "props": [],
    "repeat": "60",
    "x": 130,
    "y": 260,
    "wires": [
      [
        "escalate"
      ]
    ]
  },
  {
    "id": "escalate",
    "type": "function",
    "z": "be",
    "name": "escalation scan",
    "func": "\nconst pool = global.get('pool'); if(!pool) return null;\n(async()=>{\n  const [rows]=await pool.query(\"SELECT * FROM alarm_events WHERE severity='CRITICAL' AND acknowledged_at IS NULL AND escalated=0 AND raised_at<(NOW(3)-INTERVAL 15 MINUTE)\");\n  for(const r of rows){ node.send({ payload: { nodeId:r.node_id, paramLabel:'ESCALATION · '+r.param_label, value:Number(r.value), unit:r.unit, threshold:Number(r.threshold), severity:'CRITICAL', time:new Date(r.raised_at).toISOString() } }); }\n  if(rows.length){ await pool.query('UPDATE alarm_events SET escalated=1 WHERE id IN (?)',[rows.map(r=>r.id)]); }\n})().catch(e=>node.error(e.message));\nreturn null;\n",
    "outputs": 1,
    "libs": [],
    "x": 350,
    "y": 260,
    "wires": [
      [
        "notify"
      ]
    ]
  },
  {
    "id": "hGetRule",
    "type": "http in",
    "z": "be",
    "name": "",
    "url": "/api/nodes/:id/rule",
    "method": "get",
    "x": 140,
    "y": 360,
    "wires": [
      [
        "fGetRule"
      ]
    ]
  },
  {
    "id": "fGetRule",
    "type": "function",
    "z": "be",
    "name": "getRule",
    "func": "const pool=global.get('pool'); const id=msg.req.params.id;\n(async()=>{const[r]=await pool.query('SELECT rule_json FROM alarm_rules WHERE node_id=?',[id]); msg.statusCode=r.length?200:404; msg.payload=r.length?(typeof r[0].rule_json==='string'?JSON.parse(r[0].rule_json):r[0].rule_json):{error:'no rule'}; node.send(msg);})(); return null;",
    "outputs": 1,
    "libs": [],
    "x": 360,
    "y": 360,
    "wires": [
      [
        "resp1"
      ]
    ]
  },
  {
    "id": "resp1",
    "type": "http response",
    "z": "be",
    "x": 560,
    "y": 360,
    "wires": []
  },
  {
    "id": "hPutRule",
    "type": "http in",
    "z": "be",
    "name": "",
    "url": "/api/nodes/:id/rule",
    "method": "put",
    "x": 140,
    "y": 410,
    "wires": [
      [
        "fPutRule"
      ]
    ]
  },
  {
    "id": "fPutRule",
    "type": "function",
    "z": "be",
    "name": "putRule",
    "func": "const pool=global.get('pool'); const id=msg.req.params.id; const {orgId,rule,updatedBy}=msg.payload||{};\n(async()=>{await pool.query('INSERT INTO alarm_rules (node_id,org_id,domain,rule_json,updated_by) VALUES (?,?,?,?,?) ON DUPLICATE KEY UPDATE rule_json=VALUES(rule_json),domain=VALUES(domain),updated_by=VALUES(updated_by)',[id,orgId,rule.domain,JSON.stringify(rule),updatedBy||null]); msg.payload={ok:true}; node.send(msg);})(); return null;",
    "outputs": 1,
    "libs": [],
    "x": 360,
    "y": 410,
    "wires": [
      [
        "resp2"
      ]
    ]
  },
  {
    "id": "resp2",
    "type": "http response",
    "z": "be",
    "x": 560,
    "y": 410,
    "wires": []
  },
  {
    "id": "hEvents",
    "type": "http in",
    "z": "be",
    "name": "",
    "url": "/api/nodes/:id/events",
    "method": "get",
    "x": 140,
    "y": 460,
    "wires": [
      [
        "fEvents"
      ]
    ]
  },
  {
    "id": "fEvents",
    "type": "function",
    "z": "be",
    "name": "getEvents",
    "func": "const pool=global.get('pool'); const id=msg.req.params.id;\n(async()=>{const[r]=await pool.query('SELECT * FROM alarm_events WHERE node_id=? ORDER BY raised_at DESC LIMIT 50',[id]); msg.payload=r; node.send(msg);})(); return null;",
    "outputs": 1,
    "libs": [],
    "x": 360,
    "y": 460,
    "wires": [
      [
        "resp3"
      ]
    ]
  },
  {
    "id": "resp3",
    "type": "http response",
    "z": "be",
    "x": 560,
    "y": 460,
    "wires": []
  },
  {
    "id": "hAck",
    "type": "http in",
    "z": "be",
    "name": "",
    "url": "/api/events/:id/ack",
    "method": "post",
    "x": 140,
    "y": 510,
    "wires": [
      [
        "fAck"
      ]
    ]
  },
  {
    "id": "fAck",
    "type": "function",
    "z": "be",
    "name": "ackEvent",
    "func": "const pool=global.get('pool'); const id=msg.req.params.id; const {by,eventProblemId}=msg.payload||{};\n(async()=>{await pool.query('UPDATE alarm_events SET acknowledged_at=NOW(3),acknowledged_by=?,event_problem_id=? WHERE id=?',[by||'user',eventProblemId||null,id]); msg.payload={ok:true}; node.send(msg);})(); return null;",
    "outputs": 1,
    "libs": [],
    "x": 360,
    "y": 510,
    "wires": [
      [
        "resp4"
      ]
    ]
  },
  {
    "id": "resp4",
    "type": "http response",
    "z": "be",
    "x": 560,
    "y": 510,
    "wires": []
  },
  {
    "id": "hIngest",
    "type": "http in",
    "z": "be",
    "name": "",
    "url": "/api/nodes/:id/readings",
    "method": "post",
    "x": 140,
    "y": 560,
    "wires": [
      [
        "fHttpIngest"
      ]
    ]
  },
  {
    "id": "fHttpIngest",
    "type": "function",
    "z": "be",
    "name": "http→{nodeId,values}",
    "func": "msg.payload={nodeId:msg.req.params.id,values:(msg.payload&&msg.payload.values)||{},ts:(msg.payload&&msg.payload.ts)};return msg;",
    "outputs": 1,
    "libs": [],
    "x": 360,
    "y": 560,
    "wires": [
      [
        "ingest"
      ]
    ]
  }
]
